@font-face {
	font-family:'iconic';
	src: url("../fonts/iconic.woff")
}

html, body {
	padding-top: 21px;
    height: 100%;
	min-width:1080px;
    width: auto !important;
    width: 1080px;
    font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "pf-din", Impact, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    color: #ddd;
}
a.prev,.text-right a.next{
    font-size: 15px;
    color:#007bff !important;
    
}

p, li, a, label, em {
   /* font-family: "news", Georgia, serif;*/
   font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    text-decoration: none;
   
   
}
.nav-header{
    background-color: rgba(95,211,170)!important;
}
.navbar {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 38px;
    margin-bottom: 0;
}
span.html-code {
    font-family: 'consolas' !important;
}
.nav-tabs>.nav-item>.nav-link {
    padding: 6px 15px;
}
#preview {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    height: 100%;
    background: rgb(255, 255, 255);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    z-index: 999;
    left: 0px;
    width: 100%;
}

.CodeMirror  {
    height: 100%;
    background: rgb(255, 255, 255);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    width: 100%;
	font-size: 15px;
}	

.cm-s-base16-dark .CodeMirror-gutters { background: #151515; border-right: 0px; }

.cm-s-base16-dark .CodeMirror-gutters {
    background: #1f1f1f;
    border-right: 0px;
}
	
.navbar .navbar-brand {
	padding: 0;
}

.navbar-brand img {
    max-width: 75%;
}
.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.left-col {
	min-width: 600px;
	max-width: 600px;
}

.right-col {
	max-width: calc(100% - 600px);
	background-color: #eee;
}

.skill {
    background: #444;
    background-image: -webkit-linear-gradient(top, #4c4c4c 49%, #444 51%);
    background-image: -moz-linear-gradient(top, #4c4c4c 49%, #444 51%);
    background-image: -ms-linear-gradient(top, #4c4c4c 49%, #444 51%);
    border-radius: 25px;
    padding: 7px 16px;
    font-family: 'menlo', monospace;
    font-size: 14px;
    margin-right: 3px;
    cursor: help;
    margin-bottom: 10px;
    display: inline-block;
    box-shadow: 0px 1px 2px #111111;

}

.lesson-skills {
	background-color: #000; 
	color: #eee;
	box-shadow: none;
	height: 376px; 
  
}

.lesson .card{
	background-color: inherit;
	margin-bottom: 0;
}

.lesson-skills .tab-pane {
		height: 329px;
}
.lesson-skills .card>ul{
	background-color: #333;
	padding: 6px 0.7rem;
	    display: flex;
}	

.lesson-skills .card .card-body {
    min-height: min-content;
	padding: 0;
}
#forum_tab {
	margin: 50px 0px 0px;
	text-align: center;
}
#forum_tab h2 {
	font-size: 250%;
}
#skills_tab {
	padding: 20px;
	text-align: left
}

#lesson_tab img{
	width: 100%;
}

#resources_tab, #credits_tab {
	margin: 50px 100px;
	text-align: center;
	color: #888;
}

.remove-all-margin{
margin:0 ! important;
}

.pagination {
	position: relative;
    top: -29px;
    wiXdth: 95%;
	margin: auto;
}

.page-link {
    padding: 2px .75rem;
    margin: 0px 10px;
}

.progress {
    height: 4px;
    border-radius: 0;
	width: 100%;
        
    maXrgin-bottom: 6px;
    box-shadow: 0px 0px 3px #52adf2;
}

.controls {
		width: 100%;
}

.disabled { display: none;}

#tab-slides {display:none;}
.tab-pane-slide img{
    width: auto;height: calc(100% - 13px);
}

#lesson_tab .tab-content .btn {
	position: absolute;
	border-color: #fff;
	left: 50%;
	transform: translateX(-50%);
	text-transform: uppercase;
    font-family: 'menlo', monospace;
    font-size: 20px;
    font-weight: bold;
}
#lesson-page .btn-primary, .btn-primary {
    background-color: #007bff;
}
#lesson-page .btn-primary:hover, .btn-primary:hover {
    background-color: #007bff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:focus, .btn-primary.active:hover, .show>.btn-primary.dropdown-toggle, .show>.btn-primary.dropdown-toggle:focus, .show>.btn-primary.dropdown-toggle:hover {
    background-color: #007bff;
}
.progress-bar {
    height: auto;
    line-height: 23px;
}	

.code-editor {
	background-color: #333;
	height: calc(100% - 376px);
}

.skill-details {
	 text-align: left;	
}	
.skill-details p {
    margin-top: 0;
    font-size: 14px;
    line-height: 18px;
}

.skill-details h2 {
    font-size: 30px;
}

.skill-details h2, .skill-details h3 {
    margin: 0 0 8px 0;
    color: #000;
}

.skill-details h3 {
    font-size: 17px;
}
.skills .skills-example {display:none;}

.CodeTooltip code {
    padding: 0;
	color: #333;
	
    background-color: #efefef;

}

.tooltip.show {
    opacity: .95;
}

.CodeTooltip .tag {
    color: #F2777A;
}

.CodeTooltip .string .delimiter {
    color: rgb(153, 204, 153);
}

.CodeTooltip .string .content {
    color: rgb(153, 204, 153);
}

.CodeTooltip .attribute-name {
    color: rgb(242, 119, 122);
}

.CodeTooltip .code pre {
    overflow-wrap: break-word;
    font-family: 'menlo', monospace;
}

.tooltip-inner {
    min-width: 100px;
    max-width: 400px; 
	padding: 12px;
}
.pagination {
    background: black;
}
[data-network=sharethis] {
    display: none !important;
}
.hint-popup{
    display: none;
    position: absolute;
    bottom: 25px;
    left: 170px;
    z-index: 1000;
    color: black;
    background: #89d7df;
    width: calc(100% - 200px);
    padding: 12px;
    box-shadow: 0px 0px 10px #89d7df;
    text-align: center;
}
/*.hint-popup:hover
{
    transition: 1s;
    opacity: 50%;
}*/
.close-hint-popup{
    color: black;
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
    z-index: 1001;
}
.checkpoint {
    position: absolute;
    z-index: 80;
    height: calc(100% - 74px);
    left: 0;
    right: 0;
    background: #FFDE01;
    overflow: hidden;
    text-align: center;
    padding-bottom: 25px;
    -webkit-user-select: none;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.challenge-tip {
    font-size: 17px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: black;
    width: 100%;
    text-align: left;
}
.challenge-tip span{
    color:red;
    font-weight: bold;
}


#resources_tab {
    padding: 20px;
    margin: 0;
}

#resources_tab pre {
	margin-bottom:10px; color:#ccc;
	border: 0;
	margin-left: 10px;
}

.skill.has-skill-false {
    color: #888;
    box-shadow: none;
    padding-left: 30px;
    background: #393939 url(../img/small-lock.png) no-repeat 12px 9px;
}

.checkpoint h2 {
    color: #000;
    margin: 15px;
    margin-bottom: 2px;
    Xfont-size: 40px;
    font-family: 'Rajdhani', sans-serif;
     font-weight: 600; 
}
h2 span.challange-step {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    font-size: 17px;
    text-transform: none !important ;
    font-weight: normal;
    line-height: 0 !important;
}

.checkpoint .actions {
    padding: 0;
    margin: 0 auto 15px auto;
    width: 90%;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    list-style-type: none;
}

.checkpoint .actions li {
    color: #000;
    Xfont-size: 17px;
    text-align: left;
    border-top: 1px solid rgba(0,0,0,0.5);
    padding: 10px 34px;
    position: relative;
}

.checkpoint .actions li.correct .check-icon {
    background: #00A921;
    color: #fff;
    border-radius: 100%;
    padding: 4px;
    left: 510px;
    bottom: 50%;
    margin-bottom: -14px;
    transform: scale(1);
    opacity: 1;
    -webkit-animation: bounce 0.8s;
    -moz-animation: bounce 0.8s;
    animation: bounce 0.8s;
	line-height: 20px;
}
.checkpoint .actions li.correct .fa-check {
    background: #00A921;
    color: #fff;
    border-radius: 100%;
    padding: 4px;
    left: 510px;
    bottom: 50%;
    margin-bottom: -14px;
    transform: scale(1);
    opacity: 1;
    -webkit-animation: bounce 0.8s;
    -moz-animation: bounce 0.8s;
    animation: bounce 0.8s;
	line-height: 20px;
}

.square-icon{
    margin-right: 5px;
    font-size: 23px;
    position: absolute;
    left: 6px;
    bottom: 50%;
    margin-bottom: -10px;
}

.checkpoint .actions li .check-icon {
    font-family: 'iconic';
    margin-right: 5px;
    font-size: 18px;
    position: absolute;
    left: 516px;
    bottom: 50%;
    margin-bottom: -10px;
}
.checkpoint .actions li .fa-check
{
    margin-right: 5px;
    position: absolute;
    left: 516px;
    bottom: 50%;
    margin-bottom: -10px;

}

.checkpoint .check.passed {
    box-shadow: none;
    color: white;
    background-color:#007bff;
    border-bottom: 3px solid #007bff;
}

.checkpoint .check {
    text-align: center;
    display: inline-block;
    padding: 5px 15px;
    font-family: 'pf-din';
    text-transform: uppercase;
    margin: 0 10px;
    font-size: 20px;
    background-color: #A9A9A9;
   
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.2);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.lessonProgressText {
    font-size: 15px;
}

.tab-content {
    font-size: 17px;
}

.checkpoint .actions li, .challenge-tip  {
    font-size: unset;

}

.checkpoint h2 {
line-height: 90%;
    font-size: 250%;
}

#lesson_tab .tab-content .btn {
    font-size: 120%;
}

h2 span.challange-step {
    font-size: 50%;
}

.square-icon {
    font-size: 1.2em;
    line-height: 1.2em;
}
.previous-overlay-btn-container, .next-overlay-btn-container {
    top: -333px;
    position: absolute;
    height: 308px;
    width: 40%;
    background: transparent;
}
.next-overlay-btn-container {
    right: 0;
}
.previous-overlay-btn-container a, .next-overlay-btn-container a {
    display: block;
    height: 100%;
    width: 100%;
}
.previous-overlay-btn-container a.disabled, .next-overlay-btn-container a.disabled{
    display: none;
}
.checkpoint .check{
    color: #efecec !important;
}
.checkpoint .passed{
    color: #efecec !important; 
}
@keyframes bounce{
	0% {
		transform: scale(0.7);
		opacity: 1;
	}

	50% {
		transform: scale(3);
		opacity: 0.5;
	}

	60% {
		transform: scale(0.7);
		opacity: 1;
	}

	100% {
		transform: scale(1);
	}
}



@media (max-width: 320px) {
    .tooltip-inner {
         min-width: initial;
         width: 320px;
    }
}

#gallery_section .page_title{
    color: #f96332;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
}
/* modal ////////////////////////      css start */
.fade{
    opacity: 1 !important;
}
.modal{
    height:100%;
    width: 100%;
    position: absolute;
    /* height: 80.8vh !important; */
    padding: 0px !important;
    border-radius: 0 !important;
    overflow:visible;

}
.modal .popup-header {
    width: 100%;
    background: #a7a7a7;
    padding: 9px;
    text-align: center;
    height: 3em;
}
.modal a.close-modal {
    position: absolute;
    top: 10px !important;
    text-indent: 20px !important;
    right: 20px !important;
    background: none !important;
    padding-left: 5px;
    padding-bottom: 5px;
    z-index: 9999;
    color: transparent !important;
}
.modal a.close-modal::before {
    content: "X";
    color: #444;
    font-size: 25px;
    position: absolute;
    font-size: 32px;
    right: 5px;
    top: -13px;
    color: #fff;
    font-family: monospace;
}
.modal .popup-header .view-code, .view-output {
    background: #ffffff;
    font-size: 14px;
    border-radius: 0;
    letter-spacing: .8px;
    text-decoration: none;
    padding: 6px 14px;
    background-color: #3ec9cb;
    color: #fff !important;
}
/* modal css end \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

#gallery_section .pagination{
    top: 0;
}
.navbar.navbar-transparent {
    background-color: #f06130 !important;
    color: #FFFFFF;
    padding-top: 0px;
}

#gallery_page h2{
    text-align: center;
    }
    #gallery_page  .gallery-container{
        margin-left: auto;
        margin-right: auto;
        
    }
    #galleryContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        padding: 26px 30px;
    }
    .priview_blog {
        position: relative;
    }
    .card-blog{
        border: 1px solid #dddddd;
        min-height: 10em;
        border-radius: 6px;
        max-width: 300px;
    }
    .card-blog a {
        text-decoration: none;
        cursor: pointer;
    }
  .card-blog h3 {
        font-size: 18px;
        text-align: center;
        background: #333;
        color: #ffffff;
        margin: 0;
        padding: 4px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    #previewIcon {
        position: absolute;
        right: 10px;
        color: #fff;
        top: 4px;
        font-size: 14px;
        width: 51px;
    }
    #previewIcon span {
        position: absolute;
        color: #fff;
        right: -2px;
        top: 0px;
        width: 20px;
    }
    .card-blog .HTMLscreen iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
    .card-blog .detail-blog {
        background: #efefef;
        margin-top: -9px;
    }
    .card-blog h4 {
        padding-top: 4px;
        font-size: 14px;
        margin: 0;
        text-align: center;
        color: #111111;
    }
    .card-blog .likes {
        text-align: center;
        margin-left: 15px;
    }
    .card-blog .detail-blog .view-section button {
        border: none;
        outline: none;
        background: inherit;
        cursor: pointer;
    }
    .card-blog .view-section .likes small {
        margin: 5px;
    }
    #userKey{
        /* max-width: calc(100% / 3 - 30px); */
        margin: 10px;
        box-shadow: 0 0 36px rgba(0, 0, 0, 0.1);
    }
    
/* modal css start */
.speech-bubble .modal-content {
    position: relative;
    background: #ffffff;
    border-radius: .4em;
    /* margin-top: 16em; */
    margin-top: 5em;
    }
    .speech-bubble .modal-content::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 40px;
    width: 0;
    height: 0;
    border: 33px solid transparent;
    border-top-color: #ffffff;
    border-bottom: 0;
    border-left: 0;
    margin-left: -16.5px;
    margin-bottom: -31px;
    }
    
    .speech-bubble .modal-content::before  {
    content: "";
    position: absolute;
    bottom: -180px;
    left: calc(50% - 75px);
    width: 150px;
    height: 150px;
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    }
    .speech-bubble .modal a.close-modal::before{
    color: #444 !important;
    }
    
    .speech-bubble.robot .modal-content::before {
    background: url(../img/robot_avatar_happy.png);	
    }
    .speech-bubble.robot.happy .modal-content::before {
    background: url(../img/robot_avatar_happy.png);	
    }
    .speech-bubble.robot.surprised .modal-content::before {
    background: url(../img/robot_avatar_surprised.png);	
    }
    .speech-bubble.robot.proud .modal-content::before {
    background: url(../img/robot_avatar_proud.png);	
    }
    .speech-bubble.robot.sad .modal-content::before {
    background: url(../img/robot_avatar_sad.png);	
    }
    .speech-bubble.robot.inlove .modal-content::before {
    background: url(../img/robot_avatar_inlove.png);	
    }
    .speech-bubble.robot.scared .modal-content::before {
    background: url(../img/robot_avatar_scared.png);	
    }
    .speech-bubble.robot.unsure .modal-content::before {
    background: url(../img/robot_avatar_unsure.png);	
    }
    .speech-bubble.robot.unhappy .modal-content::before {
    background: url(../img/robot_avatar_unhappy.png);	
    }
    
    .speech-bubble.lego .modal-content::before {
    background: url(../img/lego_avatar_happy.png);	
    }
    .speech-bubble.lego.happy .modal-content::before {
    background: url(../img/lego_avatar_happy.png);	
    }
    .speech-bubble.lego.surprised .modal-content::before {
    background: url(../img/lego_avatar_surprised.png);	
    }
    .speech-bubble.lego.proud .modal-content::before {
    background: url(../img/lego_avatar_proud.png);	
    }
    .speech-bubble.lego.sad .modal-content::before {
    background: url(../img/lego_avatar_sad.png);	
    }
    .speech-bubble.lego.inlove .modal-content::before {
    background: url(../img/lego_avatar_inlove.png);	
    }
    .speech-bubble.lego.scared .modal-content::before {
    background: url(../img/lego_avatar_scared.png);	
    }
    .speech-bubble.lego.unsure .modal-content::before {
    background: url(../img/lego_avatar_unsure.png);	
    }
    .speech-bubble.lego.unhappy .modal-content::before {
    background: url(../img/lego_avatar_happy.png);	
    }
    #confirm_title {
        color: #000;
        font-size: 20px;
    }
    .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
    .btn-primary.cancel {
        background-color: #888!important;
    }
    #lesson-page .btn-primary.light, .btn-primary.light {
        border-bottom: 3px solid #333;
    }
    #lesson-page .btn-primary, .btn-primary {
        border-bottom: initial;
        font-size: 20px;
    }
    #lesson-page .btn-primary, .btn-primary {
        border: 0;
        text-transform: uppercase;
        font-family: 'Rajdhani', sans-serif;
        font-size: 18px;
        font-weight: bold;
        box-shadow: none;
        color: white;
        border-bottom: 3px solid #fff;
        letter-spacing: .75px;
    }
    .modal {
        position: relative;
        z-index: 2;
        box-sizing: border-box;
        background: transparent !important;
        text-align: left;
        box-shadow: none !important;
        max-width: inherit !important;
        /* width: auto !important; */
        margin-top: 2rem;
        margin-right: 0 !important;
        width:100% !important;
    }
    .blocker:before {
        content: "";
        display: initial !important;
    }
    .blocker {
        z-index:1991 !important;
        top: 0px !important;
        padding: 0 !important;
        overflow: inherit !important;
        }
    .speech-bubble a.close-modal{
        display: none !important;
    }
    .modal-backdrop {
        z-index: 0 !important;
        position: inherit !important;
    }
    #confirm_dialog{
        text-align: center;
    }
    .modal-open .modal{
        overflow-y: inherit !important;
    }
    
/* modal css end */
  

/* *************** Profile Page *************** */
#profile_page {
    text-align: center;
    color: #333;
}
#profile_page h2, #profile_page {
    color: #333;
}
#profile_page .menu {
    margin: auto;
    width: 94%;
    max-width: 400px;
    padding: 0px 20px 20px 20px;
}
#profile_page ul {
    text-align: left;
    margin: 0;
    padding: 0;
    list-style: none;
}
#profile_page li {
    background-color: #efefef;
    padding: 16px;
    margin-bottom: 10px;
    color: #333;
}
#login-modal #n_name {

    display: none;

}
.menu li {
    position: relative;
}
.menu li a.divLink, .card a.divLink {
    color: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 1;
    background-color: white;
    opacity: 0;
    filter: alpha(opacity=0);
}

    .fa-images:before{
    font-family: "Font Awesome 5 Free"; font-weight: 900;
     /* content: "\f302"; */
        font-size: 20px;
        vertical-align: 0 !important
    }
    .fa-external-link-square-alt::before{
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        vertical-align: middle;
        font-size: 0.7em;
        margin-left: 4px;
    }
    .fa-sign-in-alt::before{
        font-family: "Font Awesome 5 Free"; font-weight: 900;
        font-size: 1.5em;
        /* vertical-align: 0 !important */
        }
    .fa-thumbs-up:before{
    font-family: "Font Awesome 5 Free";
        font-size: 20px;
        vertical-align: 0 !important
    }
    
    .fa-user-circle{
        font-size: 5em;
        padding: 30px 0px 10px 0;
        display: block;
    }
    .option_selected {
        display: inline-block;
        background-color: #3ec9cb;
        color: #fff;
        padding: 4px 10px;
        cursor: pointer;
    }
    .option_unselected {
        display: inline-block;
        background-color: #333;
        color: #888;
        padding: 4px 10px;
    }
   
/*       menu styling               */

.menu-bg{
    width:100%;
    height: 100%;
    display:none;
    position:absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.6) ;
    z-index: 1001;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.menu-content{
    position: absolute;
    background-color: white;
    width: 90%;
    height: 85%;
    box-shadow: 0px 0px 80px black;
    overflow: auto;
    display:none;
    
}

.menu-cross{
    width: 20px;
    height: 20px;
    position: absolute;
    font-size: 30px;
    font-style: bold;
    top:0;    
    cursor: pointer;
    margin-left: 95%;
}
/*  */
@font-face {
    font-family: 'codejika';
    src:  url('../fonts/codejika.eot?jzj9');
    src:  url('../fonts/codejika.eot?jzj9#iefix') format('embedded-opentype'),
        url('../fonts/codejika.ttf?jzj9') format('truetype'),
        url('../fonts/codejika.woff?jzj9') format('woff'),
        url('../fonts/codejika.svg?jzj9#codejika') format('svg'),
        url('../fonts/consola.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    
    i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'codejika';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
        line-height: 1.2;
        font-size: 1.5em;
    vertical-align: -.25em;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
    
    .fs0 {
    : 16px;
    }
    .fs1 {
    font-size: 1em;
    }
    .fs2 {
    font-size: 2em;
    }
    .fs3 {
    font-size: 3em;
    }
    .fs4 {
    font-size: 4em;
    }
    .fs5 {
    font-size: 5em;
    }
    .fs6 {
        font-size: 7em;
    }
    .icon-sentiment_satisfied, .icon-arrow_forward {
        font-size: 1em;
        vertical-align: -.1em;
    }
    
    .icon-uniE010:before {
    content: "\e010";
    }
    .icon-uniE011:before {
    content: "\e011";
    }
    .icon-account_circle:before {
    content: "\e853";
    }
    .icon-arrow_forward:before {
    content: "\e5c8";
    }
    .icon-assignment:before {
    content: "\e85d";
    }
    .icon-beenhere:before {
    content: "\e52d";
    }
    .icon-check_circle:before {
    content: "\e86c";
    }
    .icon-close1:before {
    content: "\e5cd";
    }
    .icon-code1:before {
    content: "\e86f";
    }
    .icon-comment:before {
    content: "\e0b9";
    }
    .icon-dehaze:before {
    content: "\e3c7";
    }
    .icon-desktop_mac:before {
    content: "\e30b";
    }
    .icon-face:before {
    content: "\e87c";
    }
    .icon-home:before {
    content: "\e88a";
    }
    .icon-lock:before {
    content: "\e897";
    }
    .icon-import_contacts:before {
    content: "\e0e0";
    }
    .icon-local_library:before {
    content: "\e54b";
    }
    .icon-lock_open:before {
    content: "\e898";
    }
    .icon-lock_outline:before {
    content: "\e899";
    }
    .icon-personal_video:before {
    content: "\e63b";
    }
    .icon-replay:before {
    content: "\e042";
    }
    .icon-rotate_left:before {
    content: "\e419";
    }
    .icon-school:before {
    content: "\e80c";
    }
    .fa{
    font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1.2;
        font-size: 1.5em;
        vertical-align: -.25em;
    }
    .fa-images:before{
    font-family: "Font Awesome 5 Free"; font-weight: 900;
     /* content: "\f302"; */
        font-size: 20px;
        vertical-align: 0 !important
    }
    .fa-external-link-square-alt::before{
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        vertical-align: middle;
        font-size: 0.7em;
        margin-left: 4px;
    }
    .fa-sign-in-alt::before{
        font-family: "Font Awesome 5 Free"; font-weight: 900;
        font-size: 1.5em;
        /* vertical-align: 0 !important */
        }
    .fa-thumbs-up:before{
    font-family: "Font Awesome 5 Free";
        font-size: 20px;
        vertical-align: 0 !important
    }
    .icon-sentiment_satisfied:before {
    content: "\e813";
    }
    .icon-settings_ethernet:before {
    content: "\e8be";
    }
    .icon-view_list:before {
    content: "\e8ef";
    }
    .icon-th-list:before {
    content: "\f00b";
    }
    .icon-check:before {
    content: "\f00c";
    }
    .icon-close:before {
    content: "\f00d";
    }
    .icon-remove:before {
    content: "\f00d";
    }
    .icon-times:before {
    content: "\f00d";
    }
    .icon-repeat:before {
    content: "\f01e";
    }
    .icon-rotate-right:before {
    content: "\f01e";
    }
    .icon-bars:before {
    content: "\f0c9";
    }
    .icon-navicon:before {
    content: "\f0c9";
    }
    .icon-reorder:before {
    content: "\f0c9";
    }
    .icon-list-ul:before {
    content: "\f0ca";
    }
    .icon-rotate-left:before {
    content: "\f0e2";
    }
    .icon-undo:before {
    content: "\f0e2";
    }
    .icon-smile-o:before {
    content: "\f118";
    }
    .icon-code:before {
    content: "\f121";
    }
    .icon-hand-grab-o:before {
    content: "\f255";
    }
    .icon-hand-rock-o:before {
    content: "\f255";
    }
    .icon-hand-pointer-o:before {
    content: "\f25a";
    }
    .icon-television:before {
    content: "\f26c";
    }
    .icon-tv:before {
    content: "\f26c";
    }
    .icon-commenting:before {
    content: "\f27a";
    }
    .icon-user-circle:before {
    content: "\f2bd";
    } 
    @font-face {
        font-family: 'icomoon';
        src:  url('../fonts/icomoon.eot?8587ds');
        src:  url('../fonts/icomoon.eot?8587ds#iefix') format('embedded-opentype'),
          url('../fonts/icomoon.ttf?8587ds') format('truetype'),
          url('../fonts/icomoon.woff?8587ds') format('woff'),
          url('../fonts/icomoon.svg?8587ds#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: block;
      }
      .icomoon{
        font-family: 'icomoon' !important;
      }
      .new-icon{
          font-size: 1.2rem !important;
      }
      .icon-thumb_up_alt:before {
        content: "\e900";
      }
      .icon-images:before {
        content: "\e90e";
      }
      .icon-enlarge:before {
        content: "\e989";
      }
      .icon-sign-in:before {
        content: "\e901";
      }
    
/*************************************/

/* New styles added to improve Learn Desktop */

.pagination {
			background: black;
		}
    
       
.gutter {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    flex: 0 0 10px;
}
.flex-item {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: auto;
    padding: 1rem;
}
.resizer-parent {
    width: 100%; 
    flex: 1 1 100%;
}

.col-lesson-code {
    flex: 1 1 auto;
    height: 100%;
    background: rgba(0,0,0,0.3);
    Xwidth: 100%; 
    min-width: 550px;
}
.col-preview {
    flex: 1 1 auto; 
    Xheight: unset; 
    background: rgba(0,0,0,0.4);    
    Xwidth: 100%; 
    min-width: 450px;
}

#lesson_tab .tab-content::before {
  content: "";
  float: left;
  padding-top: 56.25%;
}
#lesson_tab .tab-content::after {
  clear: left;
  content: " ";
  display: table;
}

.card-body > .tab-content::before {
  content: "";
  float: left;
  padding-top: 56.25%;
}
 .card-body > .tab-content::after {
  clear: left;
  content: " ";
  display: table;
}

.gutter.gutter-horizontal {
    transition: background-color 250ms;
    cursor: col-resize;
    background-color: rgba(255, 255, 255, 1);
    border-right: 1px solid #dbdbdb;
    background-image:           url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}
.simplebar-scrollbar {width: 12px;}

.simplebar-scrollbar::before {
    background: rgba(102, 175, 233, 0.5);
    border-radius: 5px;
}
/*.gutter::after {
  content: "";
  background: rgba(102,204,255,0.5);

  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}*/
.gutter.gutter-horizontal:link,
.gutter.gutter-horizontal:visited,
.gutter.gutter-horizontal:hover,
.gutter.gutter-horizontal:active,
.gutter.gutter-horizontal:focus {background-color: rgba(223, 223, 223, 0.6);}

[data-simplebar] {overflow-Y: auto;}

.open .col-lesson-code,
.open .col-preview {flex-basis: 50%;}



#preview {
    position: relative;
}

.code-editor {
    height: 100%;
}

.lesson-skills {
    height: unset;
}
.pagination {
    position: unset;
}
.card  {
  Xheight: calc(100% - 0px);
}
.lesson-skills .card .card-body {
  height: calc(100% - 45px);
}
.tab-content {
    height: calc(100% - 0px);
}
.lesson-skills .tab-pane {
    height: calc(100% - 30px);
}
.tab-pane-slide img {
   height: unset;
}
.pagination {
    bottom: 0;
    top: unset;
    height: 30px;
}
#forum_tab {
    padding: 50px 0px 0px;
    margin: unset;
}
#credits_tab {
    padding: 50px 100px;
    margin: unset;
}
#resources_tab {
    margin: unset;
}

.modal-backdrop {
    z-index: 1500!important;
    position: fixed!important;
}
.modal {
    position: absolute!important;
        z-index: 1510!important;
        margin: 0px;
}

.modal a.close {
    position: absolute;
    right: 10px;
    top: 0px;
    float: unset;
    cursor: pointer;
}

.modal a.close span {
    font-size: 3.5rem;
    font-weight: 400;
}

.jquery-modal.blocker {
    background-color: rgba(0, 0, 0, 0.95)!important;
}

#galleryModal .modal-dialog {
    max-width: 95%;
   width: 1600px;
    Xoverflow-y: auto;
        height: 95%;
}

#galleryModal .modal-content {
    height: 100%;
}

#gallery_section .container {
    max-width: unset;
}

#galleryContainer {
   justify-content: center;
    padding: 20px 0;
}

.nav-itXem  {
    text-transform: uppercase;
    font-size: .7142em;
    padding: .5rem .7rem;
    line-height: 1.625rem;
}

.navbar .navbar-nav .nav-link:not(.btn) {
    margin: 4px;
        padding: 0.2rem 0.7rem;
}

#st-1 .st-btn {
    height: 28px!important;
    line-height: 28px!important;
    margin-right: 8px!important;
    padding: 0px 6px!important;
    margin: 0 0 0 6px!important;
}

#viewThumbnail-modal .show-html-code {height:100vh; padding: 0 10px 20px 10px}

#profile_page li:hover {background-color: rgba(62, 201, 203, 0.1)!important;}

.avatar-modal {text-align:center;}
.avatar-modal .sign-up, .avatar-modal .sign-up   {font-size:80%;}

.modal-body .form-control {
    margin: 8px!important;
    width: calc(100% - 16px);
}

.fixed-top {
    position: absolute;
}

div#confirm_actions {
    padding: 10px;
}
.pointer:hover {cursor: pointer; }
.std-pointer:hover {cursor: default; }

.option_selected {
    background-color: #3ec9cb;cursor: default;
}
.option_unselected {

    cursor: pointer;
}

.checkpoint .actions li .fa-check, .checkpoint .actions li.correct .fa-check {
  line-height: 1.01em!important;
    Xleft: -1px!important;
left: -.1em!important;
        line-height: 25px;
        margin-bottom: -15px;
            display: none;
}

.checkpoint .actions li {
    padding: 10px 54px 10px 41px;
}

.checkpoint .actions li.correct .fa-check {
    display: block;
}


.modal-backdrop {
    background: rgba(0, 0, 0, 0.8);
}
.modal-backdrop.show {
    opacity: 1;
}

/* width */
.code-editor ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.code-editor ::-webkit-scrollbar-track {
  background: #333; 
}
 
/* Handle */
.code-editor ::-webkit-scrollbar-thumb {
 background: #555; 
}

/* Handle on hover */
.code-editor ::-webkit-scrollbar-thumb:hover {
  background: #666; 
}

.lesson-skills .nav-tabs>.nav-item>.nav-link {
    border-radius: 6px 6px 0px 0px;
}
.lesson-skills .nav-tabs.nav-tabs-neutral>.nav-item>.nav-link.active {
    background-color: #000;
    border-radius: 6px 6px 0px 0px;
        border-bottom-color: #000;
        border: 0;
}
.nav-tabs>.nav-item>.nav-link {
        border: 0;
}

.lesson-skills .card>ul {
    padding: 10px 20px 0 20px;
}
.lesson-skills .nav-tabs .nav-item {
    margin-bottom: -2px;
}
.CodeMirror {
    background: #151515;
    color: #e0e0e0;
    border-top: #333 1px solid;
}
.st-btn.st-first.st-remove-label {
    display: inline-block!important;
}

.actions .html-code-box {
  margin: .3em 0;
    background: #404040;
    border-top: 2px solid #3c6f9e;
    border-bottom: 2px solid #3c6f9e;
    font-family: consolas !important;
    color: #fff;
    padding: 10px;
}

.checkpoint .actions li {
    padding: .75em .5em .75em 2.5em; /* 10px 54px 10px 41px; */
}

.card {
    margin-top: -38.5px;
    z-index: 1050;
        box-shadow: unset;
        border-radius: unset;
}
ul#submenu {
    background-color: #14b0bf !important;

}

.main-logo {
    position: absolute;
    left: 10px;
    top: -6px;
}

.navbar {
    min-height: 50px;
    background-color: #14b0bf !important;
    min-width: 1080px;
}

.col-lesson-code {
    background: rgb(21, 21, 21);
    border-right: 1px solid #333;
}
#main_page {height: 100%; min-height: 600px;}

html, body { padding-top: 24px;}

.checkpoint {
    height: calc(100% - 70px);
}
.justify-content-center {
    -ms-flex-pack: flex-end!important;
    justify-content: flex-end!important;
}
.previous-overlay-btn-container, .next-overlay-btn-container {
    bottom: 40px;
    top: unset;
    height: calc(330px - 100px);
}
.navbar a.nav-link {
    cursor: pointer;
}
.reset-lesson {
    cursor: pointer;
}
.option_unselected {
    cursor: pointer;
}
.option_unselected {
    cursor: pointer;
}

#lesson_tab::before {
  content: "";
  float: left;
  padding-top: 56.25%;
}
#lesson_tab::after {
  clear: left;
  content: " ";
  display: table;
}

div#navigation {
    width: 100%;
}

.main-logo {
    position: absolute;
    left: 10px;
    top: unset;
}

#lesson_tab .btn {
    position: absolute;
    border-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-family: 'menlo', monospace;
    font-size: 20px;
    font-weight: bold;
}

.pagination .prev, .pagination .next {
    font-size: 15px;
    color: #007bff !important;
    cursor: pointer;    
}
.pagination .prev:hover, .pagination .next:hover {
    opacity: .7;  
}

.previous-overlay-btn-container div, .next-overlay-btn-container div {
    display: block;
    height: 100%;
    width: 100%;
    z-index: 1600;
    cursor: pointer;
}

.swiper-container-d, .checkpoint {
  width: 100%;
  height: 100%;
}

.btn-primary.next.check:not(.passed) {
    background-color: #A9A9A9!important;
}
.btn-primary.next.check:not(.passed):hover {
    background-color: #007bff!important;
}
@media screen and (max-width: 768px) {

    .nav-tabs .nav-item>.nav-link {
         margin-bottom: 0px;
    }

}