/*  LAYOUT PRESETS  */

.swiper-container-tour .swiper-slide>div,
#lesson-page .swiper-slide>div {
  margin: auto 0px;
  width: 100%;
}

.swiper-container-tour .swiper-slide>div:first-child:not(:only-child),
#lesson-page .swiper-slide>div:first-child:not(:only-child),
.swiper-container-tour .swiper-slide>div:last-child:not(:only-child),
#lesson-page .swiper-slide>div:last-child:not(:only-child) {
  margin: 0px;
}

.swiper-container-tour .swiper-slide>div:nth-child(2):last-child,
#lesson-page .swiper-slide>div:nth-child(2):last-child {
  margin: auto 0px;
}

.swiper-scrollbar {
    background: rgba(255,255,255,.75);
}

#lesson-page li {
  margin-bottom: .25em;
}

#lesson-page ol {
  /*margin-left: 16px;*/
}

.w-fit {
    width: fit-content;
}

.w-75 {
    width: 75% !important;
    margin: 0 auto;
}

.w-50 {
    width: 50% !important;
    margin: 0 auto;    
}
.w-1em {
    width: 1em !important;
    margin: 0 auto;    
}

.rotate-0 {
  transform: rotate(0deg) !important;
}

.is-desktop .w-fit {
    width: fit-content;
}

.is-desktop .w-75 {
    width: 45% !important;
    margin: 0 auto;
}

.is-desktop .w-50 {
    width: 20% !important;
    margin: 0 auto;    
}

.emoji {
  width: initial !important;  
}

/* COLOR PRESETS */

/* default */
#lesson-page .swiper-slide { 
  color: #fff!important; 
  background-color: #000 !important;
}

/* background colors */

#lesson-page .bg-none {
  background-color: unset !important;
}

#lesson-page .bg-black {
  background-color: #000 !important;
  color: #fff;
}

#lesson-page .bg-white,
#lesson-page .cp-peach .tips,
#lesson-page .cp_yellow .tips {
    background-color: #fff !important;
}

/* background colors */
#lesson-page .bg-blue,
#lesson-page .mission,
.is-mobile #lesson-page .challenge.cp-peach .btn-primary,
.is-mobile #lesson-page .challenge.cp-peach .swiper-editor  {
    background-color: #35abe6 !important;
}

#lesson-page .bg-peach,
#lesson-page .challenge.cp-peach,
#lesson-page .bg-orange,
#lesson-page .snapshot {
    background-color: #f16d59!important;
}

#lesson-page .bg-green,
#lesson-page .remember {
    background-color: #54b051 !important;
}


.bg-aqua,
#lesson-page .quiz {
    background-color: #29c1c4 !important;
}

.bg-aqua2,
.btn-share,
.is-mobile #lesson-page .challenge.cp-peach .btn-success {
    background-color: #5fd3aa !important;
}

.bg-dark-grey,
{
    background-color: #333 !important;
}

#lesson-page .bg-yellow,
#lesson-page .challenge {
    background-color: #ffe712 !important;
}

.tippy-box .bg-pink,
#lesson-page .bg-pink,
#lesson-page .play,
#lesson-page .function,
#lesson-page .think {
    background-color: #e42761 !important;
}



/* font colors */

.tippy-box .white,
#editor-page .white,
#lesson-page .white,
#lesson-page .think,
#lesson-page .mission,
#lesson-page .challenge.cp-peach,
#lesson-page .slide-footer {
  color: #fff !important;
}

#editor-page .black,
#lesson-page .black,
#lesson-page .snapshot,
#lesson-page .cp_yellow,
#lesson-page .cp_yellow .tips,
#lesson-page .cp-peach .tips {
  color: #000 !important;
}

#lesson-page .aqua {
    color: #29c1c4 !important;
}

#lesson-page .aqua2 {
    color: #5fd3aa !important;
}

#lesson-page .yellow {
    Xcolor: #ffc000 !important;
    color: #ffe712 !important;
}

#lesson-page .pink,
#lesson-page .trick .slide-header{
    color: #e42761 !important;
}

#lesson-page .blue,
#lesson-page .definition .slide-header {
    color: #35abe6 !important;
}

#lesson-page .orange {
    color: #f16d59!important;
}

#lesson-page .green,
#lesson-page .how-works .slide-header,
#lesson-page .checkpoint .slide-header {
    color: #54b051 !important;
}

#lesson-page .red {
    color: #C00000 !important;
}

#lesson-page .purple,
#lesson-page .debugging .slide-header {
    color: #7030a0 !important;
}

.tippy-box .silver,
#editor-page .silver,
#lesson-page .silver,
#lesson-page .briefing .slide-header {
    color: #999; /* !important;*/
}

.tippy-box .dark-grey,
#editor-page .dark-grey,
#lesson-page .dark-grey {
    color: #333; /* !important;*/
}


/*  FONT PRESETS  */
#lesson-page, 
#lesson-page .tips,
.h0, .h1, .h2, .h3, .h4, .h5, .h6, .fs75 {
    font-family: 'Rajdhani', sans-serif !important;
    text-transform: unset;
    line-height: 1 !important;
}

.bold,
.slide-header.h2  {
    font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.slide-header.h2  {
    text-transform: uppercase;
}

#lesson-page .ff-mont {
    font-family: 'montserrat', sans-serif;
}

/* sets base font size for all elements*/
#lesson-page .swiper-slide { 
  font-size: 22px !important;
  line-height: 22px important;
  text-align: center !important;
}

.fs-x2 {
  font-size: 1.5em !important;
}

#lesson-page .html-code-box.fs75 {
  line-height: 1.3 !important;
}

#lesson-page p,
#lesson-page code,
#lesson-page li {
  font-size: inherit;
  margin-bottom: .5em;
}

#lesson-page li {
  font-size: inherit !important;
}

#lesson-page .h0 {
  font-size: 3.5em !important;
  mXargin-bottom: 1rem;
}

.tippy-box .h1,
#editor-page .h1,
#lesson-page .h1 {
  font-size: 2.5em;
}

.tippy-box .h2,
#editor-page .h2,
#lesson-page .h2 {
  font-size: 2em;
  Xmargin-bottom: 1em;
}

.tippy-box .h3,
#editor-page .h3,
#lesson-page .h3 {
  font-size: 1.75em;
  Xmargin-bottom: .9em;
}

.tippy-box .h4,
#editor-page .h4,
#lesson-page .h4 {
  font-size: 1.5em;
  Xmargin-bottom: .75em;
}

.tippy-box .h5,
#editor-page .h5,
#lesson-page .h5 {
  font-size: 1.25em;
  Xmargin-bottom: .65em;
}

.tippy-box .h6,
#editor-page .h6,
#lesson-page .h6 {
  font-size: 1em;
  Xmargin-bottom: .5em;
}

#lesson-page .fs55 {
  font-size: .55em !important;
  Xmargin-bottom: .35em;
}

#lesson-page .fs65 {
  font-size: .65em !important;
  Xmargin-bottom: .35em;
}

#lesson-page .fs75 {
  font-size: .75em !important;
  Xmargin-bottom: .35em;
}

#lesson-page .fs80 {
  font-size: .80em !important;
  Xmargin-bottom: .35em;
}

#lesson-page .fs85 {
  font-size: .85em !important;
  Xmargin-bottom: .35em;
}

#lesson-page .arial{
  font-family: arial, sans-serif !important;
}

#lesson-page .consolas{
  font-family: "Consolas", monospace !important;
  word-break: break-word;
}

#lesson-page .inline-code,
#lesson-page xmp {
  font-size: 90%;
  font-family: "Consolas", monospace;
  word-break: break-word;
}

#lesson-page .inline-code,
#lesson-page xmp.inline-code,
#lesson-page xmp:not([class]) {
  display: inline-block;
  margin: 0;
}

.cp-peach .inline-code {
    color: #666;
}

.html-code-box {
  text-align: left;
    margin: 0;
    background: #404040;
    font-family: consolas !important;
    color: #fff;
    padding: 5px 10px 5px 10px;
    font-size: 85%;
    line-height: 1.3;
    position: relative;
}

.quiz-question {
  background-color: rgba(0, 0, 0, 0.25);
  margin-bottom: 1em;
}

.fade-box-top {
    Xpadding-top: 0px !important;
}

.fade-box-bottom {
    Xpadding-bottom: 0px !important;
}

.fade-box,
.fade-box-top::before, 
.fade-box-bottom::after {
width: calc(100% - 0px - 0em);
    position: absolute;
    left: 0;
    height: 1.3em;
    background: rgb(64,64,64);
    z-index: 100;
    content: ' ';
}

.fade-box-top::before {
    top: 0;
    background: linear-gradient(0deg, rgba(64,64,64,0) 0%, rgba(64,64,64,1) 70%);
}

.fade-box-bottom::after {
    bottom: 0;
    background: linear-gradient(180deg, rgba(64,64,64,0) 0%, rgba(64,64,64,1) 70%);
}

.code-fade {opacity:.25;}

.op-40 {opacity:.4;}
.op-50 {opacity:.5;}
.op-60 {opacity:.6;}

 #lesson-page i {
    all: initial;
    font-size: inherit;
    color: inherit;
    font-family: inherit!important;
    font-style: italic;
}

 #lesson-page i[class^="icon-"] {
    font-family: 'codejika' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1.2;
    font-size: 1em;
    vertical-align: -.1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*  ELEMENT PRESETS  */

.ls-disc li {
    list-style: disc;
}

.ls-upper li {
    list-style: upper-alpha;
}

.ls-upper ol {
   margin-left: .4em;
}

.dots{
  font-family: serif!important;
    font-size: 4.0em !important;
    line-height: .5;
    letter-spacing: 10px;
}

#lesson-page .slide-header {
  margin-top: .2rem!important;
  margin-bottom: .5rem!important;

}

#lesson-page .remember .slide-header,
#lesson-page .snapshot .slide-header,
#lesson-page .mission .slide-header{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: unset;
  line-height: 1;
}

#lesson-page .briefing .slide-header {
  Xfont-weight: bold; 
  text-transform: unset;
}

#lesson-page .btn-aqua {
  color: #fff;
  background-color: #5fd3aa !important;
  text-transform: uppercase;
  width: 50%;
}

#lesson-page .take-tour {
    padding: .2em .7em;
    width: fit-content;
    margin: auto;
    color: black;
    border-radius: .25rem;
}

.tasks {
margin: 0;
Xpadding-bottom: .5em;
}

.debugging .tasks {
    list-style-type: none;
    margin-left: 1.5em;
    padding-left: .5em;
}

#lesson-page .debugging .tasks>li{
    margin-bottom: 1em;
}

#lesson-page .list-img li {
  position: relative;
}
#lesson-page .list-img li>img:first-child{
   width: 1.25em;
   height: 1.25em;
   line-height: 1.25em;
   left: -1.75em;
   top: -.15em;
   position: absolute;
}

.list-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-numbered {
  margin: 0;
  padding-left: 1.2em;
}

.slide-footer.tips {
  background-color: #222;
  padding: .75em;
  font-size: .75em !important;
  text-align: center;
}

.slide-footer.tips p:first-child {
  color: #C00000; !important;
  text-transform: uppercase;
  margin-bottom: 2px !important;
  padding-inline-start: 5px;
}

.slide-footer.tips ol {
  margin-left: unset !important;
  margin-bottom: 0px !important;
  padding-inline-start: 26px;
}

.slide-footer.tips li {
  margin-bottom: 0px !important;
  padding-left: 4px;

}

#preview-lesson-modal .modal-content>div,
#preview-lesson-modal .modal-content>div iframe {
  height: 100vh;
  width: 100%;
  border: 0
}

.tx-flip {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

#lesson-page .btn-main,
.swiper-container-tour .btn-primary,
#lesson-page .btn-primary,
#lesson-page .btn-primary-alt,
#lesson-page .btn-action,
#lesson-page .btn-success {
    display: block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    padding: .45em .75em;
    margin: 1.5em auto 0 auto;
    font-size: 1em;
    letter-spacing: .75px;
    line-height: 1;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    width: 75%;
}

#lesson-page .btn-main:hover,
.swiper-container-tour .btn-primary:hover,
#lesson-page .btn-primary:hover,
#lesson-page .btn-primary-alt:hover,
#lesson-page .btn-action:hover,
#lesson-page .btn-success:hover {
  opacity: .9;
  text-decoration: none;
}

#lesson-page .btn-primary {
    background: #5fd3aa !important;
    font-size: 1.25em;
}

#lesson-page .btn-primary-alt {
    background: #999 !important;
    text-transform: unset;
}

#lesson-page .btn-action {
    background-color: #ff6a00 !important;
}

#lesson-page .btn-success {
    background-color: ##68c300 !important;
}

.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4px;
}

.arrow-line {
width: calc(100% - 38px);
wXidth: 20px;
    height: 1px;
    background: black;
    display: inline-block;
    padding: 0;
    margin-bottom: 3.0px;
}

.arrow.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 7px;
    position: relative;
}

.arrow.arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 7px;
    position: relative;
}

.blinking-cursor {
  font-weight: 100;
  font-size: inherit;
  color: #00bcd4;
  margin-left: -.2em;
  letter-spacing: -.1em;
  -webkit-animation: 2s blink step-end infinite;
  -moz-animation: 2s blink step-end infinite;
  -ms-animation: 2s blink step-end infinite;
  -o-animation: 2s blink step-end infinite;
  animation: 2s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: rgb(0 188 212 / 60%);
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: rgb(0 188 212 / 60%);
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: rgb(0 188 212 / 60%);
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: rgb(0 188 212 / 60%);
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: rgb(0 188 212 / 60%);
  }
}

.challange-step{
	font-family: 'Rajdhani', sans-serif !important;
}
