html, #header {
	border-top: 2px solid transparent;
}

html,
body {
position: relative;
height: 100%;
}
body {
background-color: #0f0f0f;
font-size: 14px;
color: #000;
margin: 0;
padding: 0;
overscroll-behavior-y: contain;
}
h1,
h2,
h3,
h4,
h5,
h6 {
font-family: 'Rajdhani', sans-serif;
text-transform: uppercase;
font-weight: bold;
color: #333;
}
p,
li,
a,
label,
em {
font-family: 'Rajdhani', sans-serif;
text-decoration: none;
font-size: 14px;
}
.navbar {
padding-top: 0;
padding-bottom: 0;
min-height: 42px;
margin-bottom: 0;
padding: 0;
}
.nav-tabs>.nav-item>.nav-link {
padding: 0px 15px;
}
#preview {
position: absolute;
tXop: 32px;
bottom: 0px;
right: 0px;
height: 100%;
background: rgb(255, 255, 255);
border-width: 0px;
border-style: initial;
border-color: initial;
border-image: initial;
z-index: 1001;
left: 0px;
width: 100%;
}
.CodeMirror {
height: 100%;
background: rgb(255, 255, 255);
border-width: 0px;
border-style: initial;
border-color: initial;
border-image: initial;
width: 100%;
font-size: 16px;
}
.cm-s-base16-dark .CodeMirror-gutters {
background: #151515;
border-right: 0px;
}
.cm-s-base16-dark .CodeMirror-gutters {
background: #1f1f1f;
border-right: 0px;
}
.navbar .navbar-brand {
padding: 0;
}
.no-gutter {
padding-left: 0;
padding-right: 0;
}
.left-col {
min-width: 600px;
max-width: 600px;
}
.right-col {
max-width: calc(100% - 600px);
background-color: #eee;
}
.skill {
background: #444;
background-image: -webkit-linear-gradient(top, #4c4c4c 49%, #444 51%);
background-image: -moz-linear-gradient(top, #4c4c4c 49%, #444 51%);
background-image: -ms-linear-gradient(top, #4c4c4c 49%, #444 51%);
border-radius: 25px;
padding: 7px 16px;
font-family: 'menlo', monospace;
font-size: 14px;
margin-right: 3px;
cursor: help;
margin-bottom: 10px;
display: inline-block;
box-shadow: 0px 1px 2px #111111;
}
.skill.has-skill-true {
background: #59afbd;
}
.lesson-skills {
background-color: #000;
color: #eee;
box-shadow: none;
height: 10Q0%;
}
.lesson .card {
background-color: inherit;
margin-bottom: 0;
}
#lessXon_tab {
flex-direction: column;
justify-content: flex-start;
align-items: center;
align-content: stretch;
flex: 1;
}
.tab-content>.tab-pane {
display: none!important;
}
.tab-content>.active {
display: block!important;
}
.lesson-skills .tab-pane {
Xheight: 10Q0%;
margin: auto;
Xbackground-color: cornflowerblue;
Xmax-height: 100vh;
Xborder: 1px solid black;
padding-bottom: 40px;
}
.lesson-skills .card>ul {
background-color: #333;
padding: 6px 0.7rem;
display: flex;
}
.lesson-skills .card .card-body {
min-height: min-content;
padding: 0;
}
#forum_tab {
margin: 50px 0px 0px;
text-align: center;
}
#forum_tab h2 {
font-size: 250%;
}
#skills_tab {
padding: 20px;
text-align: left
}
#lesson_tab img {
width: 100%;
}
#resources_tab,
#credits_tab {
margin: 50px 100px;
text-align: center;
color: #888;
}
.remove-all-margin {
margin: 0 ! important;
}
.pagination {
height: 51px;
background-color: #333;
padding: 0;
position: absolute;
bottom: 0;
left: 0;
display: block;
width: 100%;
margin: 0;
border-radius: 0;
paddiXng-bottom: 40px;
}
.pagination .col-4 {
text-align: center!important;
vertical-align: middle;
}
.pagination .col-4 .prev,
.pagination .col-4 .next,
.pagination a:visited,
.pagination a:link {
color: black;
font-size: 16px;
padding: 10px;
bordXer-radius: 10px;
background-color: white;
width: 100%;
}
div.lessonProgressText {
color: #fff;
line-height: 30px;
}
.page-link {
padding: 2px .75rem;
margin: 0px 10px;
}
.progress {
height: 7px;
border-radius: 0;
width: 100%;
background-color: #2d2d2d;
}
.controls {
width: 100%;
}
.disabled {
display: none;
}
#tab-slides {
display: none;
}
.progress-bar {
height: auto;
line-height: 23px;
background-color: #0bbac1 !important;
}
.code-editor {
background-color: #333;
height: calc(100% - 376px);
}
.skill-details {
text-align: left;
}
.skill-details p {
margin-top: 0;
font-size: 14px;
line-height: 18px;
margin-bottom: 4px;
}
.skill-details h2 {
font-size: 20px;
}
.skill-details h2,
.skill-details h3 {
margin: 0 0 8px 0;
}
.skill-details h3 {
font-size: 17px;
}
.skills .skills-example {
display: none;
}
.CodeTooltip code {
padding: 0;
color: #333;
background-color: #efefef;
}
.tooltip.show {
opacity: .95;
}
.CodeTooltip .tag {
color: #F2777A;
}
.CodeTooltip .string .delimiter {
color: rgb(153, 204, 153);
}
.CodeTooltip .string .content {
color: rgb(153, 204, 153);
}
.CodeTooltip .attribute-name {
color: rgb(242, 119, 122);
}
.CodeTooltip .code pre {
overflow-wrap: break-word;
font-family: 'menlo', monospace;
}
.tooltip-inner {
min-width: 100px;
max-width: 400px;
padding: 12px;
}
.cheXckpoint {
z-index: 80;
heXight: 300px;
botXtom: 3px;
toXp: 0;
lefXt: 0;
rigXht: 0;
background: #FFDE01!important;
overfXlow: hidden;
textX-align: center;
paddXing-bottom: 25px;
-webXkit-user-select: none;
-webXkit-transform: translateZ(0);
-mozX-transform: translateZ(0);
tranXsform: translateZ(0);
}
.cp_yellow {
z-indXex: 80;
background: #FFDE01!important;
}


#resources_tab {
padding: 20px;
margin: 0;
}
#resources_tab pre {
margin-bottom: 10px;
color: #ccc;
border: 0;
margin-left: 10px;
}
.skill.has-skill-false {
color: #888;
box-shadow: none;
padding-left: 30px;
/*background: #393939 url(../img/small-lock.png) no-repeat 12px 9px;*/
}
.checkpoint h2 {
color: #000;
/* margin: 18px; */
margin: 0;
font-size: 40px;
}
.checkpoint .actions {
padding: 0;
margin: 0 auto 15px auto;
width: 98%;
border-bottom: 1px solid rgba(0, 0, 0, 0.5);
list-style-type: none;
}
.checkpoint .actions li {
color: #000;
font-size: 16px;
text-align: left;
border-top: 1px solid rgba(0, 0, 0, 0.5);
padding: 10px 4px 10px 40px;
position: relative;
}
.check-info h2 {
display: inline-block;
color: #000;
}
.check-info {
position: absolute;
bottom: calc(50% - 20px);
right: 40px;
z-index: 10300;
background-color: #ffde01;
border-radius: 5px;
padding: 10px;
width: auto;
height: 40px;
}
.checkpoint .actions li.correct .check-icon,
.check-info.correct .check-icon {
background: #00A921;
color: #fff;
border-radius: 100%;
padding: 0px;
left: 3px;
bottom: 50%;
margin-bottom: -14px;
transform: scale(1);
opacity: 1;
-webkit-animation: bounce 0.8s;
-moz-animation: bounce 0.8s;
animation: bounce 0.8s;
line-height: 20px;
}
.checkpoint .actions li .check-icon,
.check-info .check-icon {
font-family: 'iconic';
margin-right: 5px;
font-size: 18px;
position: absolute;
left: 6px;
bottom: 50%;
margin-bottom: -10px;
}
.check-info .check-icon {
line-height: unset;
margin: auto;
position: unset;
left: 6px;
background: #ff5336;
color: #fff;
border-radius: 100%;
padding: 4px;
left: 3px;
bottom: 50%;
margin-bottom: -14px;
line-height: 20px;
}
.checkpoint .check.passed {
box-shadow: none;
color: white;
background-color: #FF2500;
border-bottom: 3px solid #dd0300;
}
.checkpoint .check {
text-align: center;
display: inline-block;
padding: 5px 15px;
font-family: 'pf-din';
text-transform: uppercase;
margin: 0 10px;
font-size: 20px;
color: #FFDE01;
background: #DDBC00;
box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
-webkit-transition: all 0.2s;
-moz-transition: all 0.2s;
-ms-transition: all 0.2s;
-o-transition: all 0.2s;
}
@keyframes bounce {
0% {
	transform: scale(0.7);
	opacity: 1;
}
50% {
	transform: scale(3);
	opacity: 0.5;
}
60% {
	transform: scale(0.7);
	opacity: 1;
}
100% {
	transform: scale(1);
}
}
#container {
margin: 100px auto;
width: 688px;
}
#write {
margin: 0 0 5px;
padding: 5px;
width: 671px;
height: 200px;
font: 1em/1.5 Verdana, Sans-Serif;
background: #fff;
border: 1px solid #f9f9f9;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
#keyboard {
margin: 0;
padding: 0;
list-style: none;
}
#keyboard li {
float: left;
margin: 0 5px 5px 0;
width: 24px;
height: 24px;
line-height: 24px;
text-align: center;
background: #fff;
border: 1px solid #f9f9f9;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
.capslock,
.tab,
.left-shift {
clear: left;
}
#keyboard .tab,
#keyboard .delete {
width: 70px;
}
#keyboard .capslock {
width: 80px;
}
#keyboard .return {
width: 77px;
}
#keyboard .left-shift {
width: 95px;
}
#keyboard .right-shift {
width: 109px;
}
.lastitem {
margin-right: 0;
}
.uppercase {
text-transform: uppercase;
}
#keyboard .space {
clear: left;
width: 681px;
}
.on {
display: none;
}
#keyboard li:hover {
position: relative;
top: 1px;
left: 1px;
border-color: #e5e5e5;
cursor: pointer;
}
.swipe {
overflow: hidden;
visibility: hidden;
position: relative;
}
.swipe-wrap {
overflow: hidden;
position: relative;
}
.swipe-wrap > div {
float: left;
width: 100%;
position: relative;
oveXrflow: hidden;
}
.card {
box-shadow: none;
}
.container {
max-width: 100em;
margin-left: auto;
margin-right: auto;
padding: 20px;
		padding: 20px 26px 20px 20px;
heXight: 100%;
}
.swipe-overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1010;
}
.swipe-wrap > div {
display: block;
width: 100%;
}
.card .card-body {
min-height: 190px;
background-color: #000;
}
.tab-content {
display: flex;
flex-direction: column;
justify-content: flex-start;
/* align items in Main Axis */
align-items: stretch;
/* align items in Cross Axis */
align-content: stretch;
/* Extra space in Cross Axis */
}
.flex-parent {
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
/* align items in Main Axis */
align-items: stretch;
/* align items in Cross Axis */
align-content: stretch;
/* Extra space in Cross Axis */
}
.flex-equal {
flex: 1;
/* same as flex: 1 1 auto; */
}
.h100 {
height: 100%;
}
.flex-content {
display: flex;
flex-direction: column;
justify-content: flex-start;
/* align items in Main Axis */
align-items: stretch;
/* align items in Cross Axis */
align-content: stretch;
/* Extra space in Cross Axis */
}
.flex-overflow {
/* Needed for when the area gets squished too far and there is content that can't be displayed */
overflow: auto;
}
/* position keyboard at bottom of the screen */

.ui-keyboard {
border-radius: 0;
left: 0;
top: auto;
bottom: 0;
position: fixed;
width: 100%;
}
@media (max-width: 768px) {
.nav-tabs .nav-item>.nav-link {
	margin-bottom: 0px;
}
}
@media (max-width: 320px) {
.tooltip-inner {
	min-width: initial;
	width: 320px;
}
}
.congrats-content {
padding-top: 10%;
}
.swiXpe {
overflow: hidden;
visibility: hidden;
position: relative;
}
.swipXe-wrap {
overflow: hidden;
position: relative;
margin-top: 50px;
}
.swiXpe-wrap > div {
display: block;
float: left;
width: 100%;
position: relative;
oveXrflow: hidden;
}
#previewXs_page,
#editor_page {
height: 100vh;
overflow: auto;
padding-bottom: 32px;
}
/* Style for our header texts
* --------------------------------------- */

h1 {
font-size: 60px;
line-height: .85em;
font-weight: bold;
font-family: arial, helvetica;
color: #fff;
margin: 0;
padding: 0;
}
.intro p {
color: #fff;
}
/* Centered texts in each section
* --------------------------------------- */

.section {
text-align: center;
padXding: 40px;
background-color: black;
}
/* Fixed header and footer.
* --------------------------------------- */

#header,
#footer {
position: fixed;
height: 35px;
display: block;
width: 100%;
background: #333;
z-index: 1000;
text-align: center;
color: #f2f2f2;
padding: 0;
}
#header {
top: 0px;
text-align: left;
height: 43px;
}
#footer {
bottom: 0px;
}
#keyboard {
position: absolute;
bottom: 0px;
height: 50px;
display: block;
width: 100%;
background: #333;
z-index: 9;
text-align: center;
color: #f2f2f2;
padding: 0px 0 0 0;
min-height: 32px;
}
.get-help {
position: absolute;
height: auto;
display: block;
bottom: 0;
left: 0;
width: 100%;
background: #2855a7;
z-index: 1000;
padding: 20px;
text-align: center;
color: #fff;
}
.get-help h3,
.get-help a {
color: #fff;
}
/* Bottom menu
* --------------------------------------- */

#infoMenu {
bottom: 80px;
}
#infoMenu li a {
color: #fff;
z-index: 999;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
background: #fff;
}
#fp-nav ul li,
.fp-slidesNav ul li {
margin: 2;
}
#fp-nav.right {
right: 3px;
}
#fp-nav *:before,
#fp-nav *:after {
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
#fp-nav ul:before {
content: "";
position: absolute;
height: 100%;
width: 5px;
margin-left: 24px;
border-left: 2px dotted red;
}
div#lessson-page img {
max-width: 100%;
}
#lesson-navbar li {
min-width: 38px;
text-align: center;
}
#lesson-navbar li:hover {
cursor: help;
}
#lesson-navbar span {
display: none;
}
#lesson-navbar .active span {
padding-right: 4px;
display: inline;
}
#lesson-page .swiper-slide {
background-color: #000000;
}
#lesson-page .container {
text-align: center;
}
#lesson-page img {
max-width: 100%;
}
#lesson-page .btn-primary,
.btn-primary {
border: 0;
text-transform: uppercase;
font-family: 'Rajdhani', sans-serif;
font-size: 18px;
font-weight: bold;
box-shadow: none;
color: white;
border-bottom: 3px solid #fff;
letter-spacing: .75px;
}
#lesson-page .btn-primary.light,
.btn-primary.light {
border-bottom: 3px solid #333;
}

#lesson-page a.btn-primary.light,
a.btn-primary.light {
color: #fff;
}


.modal-open .modal {
bacXkground-color: rgba(0, 0, 0, 0.60);
}
.modal-backdrop.show {
opacity: .9;
}
.btn-primary.action {
background-color: #ff6a00!important;
}
.btn-primary.success {
background-color: #f44!important;
}
.btn-primary.cancel {
background-color: #888!important;
}
.btn-primary.cancel a{
color: #ffffff;
}
.speech-bubble .modal-content {
position: relative;
background: #ffffff;
border-radius: .4em;
/* margin-top: 16em; */
margin-top: 10em;
}
.speech-bubble .modal-content::after {
content: '';
position: absolute;
bottom: 0;
right: 40px;
width: 0;
height: 0;
border: 33px solid transparent;
border-top-color: #ffffff;
border-bottom: 0;
border-left: 0;
margin-left: -16.5px;
margin-bottom: -31px;
}

.speech-bubble .modal-content::before  {
content: "";
position: absolute;
bottom: -180px;
left: calc(50% - 75px);
width: 150px;
height: 150px;
display: inline-block;
padding-right: 3px;
vertical-align: middle;
}
.speech-bubble .modal a.close-modal::before{
color: #444 !important;
}

.speech-bubble.robot .modal-content::before {
background: url(../img/robot_avatar_happy.png);	
}
.speech-bubble.robot.happy .modal-content::before {
background: url(../img/robot_avatar_happy.png);	
}
.speech-bubble.robot.surprised .modal-content::before {
background: url(../img/robot_avatar_surprised.png);	
}
.speech-bubble.robot.proud .modal-content::before {
background: url(../img/robot_avatar_proud.png);	
}
.speech-bubble.robot.sad .modal-content::before {
background: url(../img/robot_avatar_sad.png);	
}
.speech-bubble.robot.inlove .modal-content::before {
background: url(../img/robot_avatar_inlove.png);	
}
.speech-bubble.robot.scared .modal-content::before {
background: url(../img/robot_avatar_scared.png);	
}
.speech-bubble.robot.unsure .modal-content::before {
background: url(../img/robot_avatar_unsure.png);	
}
.speech-bubble.robot.unhappy .modal-content::before {
background: url(../img/robot_avatar_unhappy.png);	
}

.speech-bubble.lego .modal-content::before {
background: url(../img/lego_avatar_happy.png);	
}
.speech-bubble.lego.happy .modal-content::before {
background: url(../img/lego_avatar_happy.png);	
}
.speech-bubble.lego.surprised .modal-content::before {
background: url(../img/lego_avatar_surprised.png);	
}
.speech-bubble.lego.proud .modal-content::before {
background: url(../img/lego_avatar_proud.png);	
}
.speech-bubble.lego.sad .modal-content::before {
background: url(../img/lego_avatar_sad.png);	
}
.speech-bubble.lego.inlove .modal-content::before {
background: url(../img/lego_avatar_inlove.png);	
}
.speech-bubble.lego.scared .modal-content::before {
background: url(../img/lego_avatar_scared.png);	
}
.speech-bubble.lego.unsure .modal-content::before {
background: url(../img/lego_avatar_unsure.png);	
}
.speech-bubble.lego.unhappy .modal-content::before {
background: url(../img/lego_avatar_happy.png);	
}

/* #createGalleryPage .modal-content{
	height: 150vh;
	overflow-y: scroll;
} */
#createProfilePage .close-modal::before{
	color: #444444 ;
}
#createGalleryPage .close-modal::before{
	color: #444444 ;
}

.option_selected {
display: inline-block;
	background-color: #3ec9cb;
color: #fff;
	padding: 4px 10px;
	cursor: pointer;
}

.option_unselected {
display: inline-block;
	background-color: #333;
color: #888;
	padding: 4px 10px;
}

.modal .form-control, .modal .custom-select {
	margin-bottom: 10px;
		font-family: 'Rajdhani', sans-serif;
	font-size: 14px;
color: #333;
}

.modal .form-control.school  {
		 display: inline-block;
	height: calc(2.25rem + 2px);
	line-height: 1.5;
	vertical-align: middle;
	position: relative;
	top: 0px;
}



.modal .sign-up {
padding: 12px 0 0 0;
margin: 0;
cursor: pointer;;
}

.modal .a-link {
display: inline-block;
padding: 2px;
color: #007bff;
}
.modal .a-link:hover {
color: #ff6a04;
}

.modal.show .modal-dialog {
-webkit-transform: translate(0, 0);
transform: translate(0, 0);
top: calc(50% - 120px);
transform: translateY(-50%);
margXin: 2.0rem;
margin: auto;
}
.modal.show .modal-dialog.top-align {
top: 0px;
transform: initial;
}


.modal-body {
padding: 1.2rem;
text-align: center;
}
#confirm_title {
color: #000;
font-size: 20px;
}
.success-animation {
font-family: 'iconic';
margin-right: 5px;
font-size: 36px;
background: #00A921;
color: #fff;
border-radius: 100%;
padding: 4px;
/* left: 3px; */
/* bottom: 50%; */
height: 60px;
width: 60px;
/* margin-bottom: -45px; */
transform: scale(1);
opacity: 1;
-webkit-animation: bounce 1.0s;
-moz-animation: bounce 1.0s;
animation: bounce 1.0s;
/* line-height: 36px; */
position: absolute;
text-align: center;
z-index: 1010;
top: calc(50% - 25px);
left: calc(50% - 25px);
}
@keyframes bounce {
0% {
	transform: scale(0.5);
	opacity: 1;
}
50% {
	transform: scale(4);
	opacity: 0.5;
}
60% {
	transform: scale(0.7);
	opacity: 1;
}
90% {
	transform: scale(1);
	opacity: 0.9;		
}
95% {
	transform: scale(0.9);
	opacity: 1;
}
100% {
	transform: scale(1);
	opacity: 1;		
}	
}
#lesson-page .skip {
font-family: 'montserrat', sans-serif;
font-size: 14px;
color: #333;
cursor: pointer;
}
.button-locked {
display: block;
}
.button-unlocked {
display: none;
}
.cp-unlocked .button-locked {
display: none;
}
.cp-unlocked .button-unlocked {
display: block;
}
#profile_page {
text-align: center;
}
#preview_page,
#profile_page,
#skills_page {
overflow: auto;
align-items: normal;
overscroll-behavior: contain;
background-color: #fff;
}
#profile_page .menu {
margin: auto;
width: 94%;
max-width: 400px;
/* background-color: #efefef; */
padding: 0px 20px 20px 20px;
}
#profile_page ul {
text-align: left;
margin: 0;
padding: 0;
list-style: none;
}
#profile_page li {
background-color: #efefef;
padding: 16px;
margin-bottom: 10px;
cursor: pointer;
}
#profile_page li svg {
vertical-align: middle;
margin-right: 16px;
}
#profile_page h2,
#profile_page {
color: #333;
}

.menu li  {
		position: relative;
}
.menu li a.divLink, .card a.divLink {
			color: inherit;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-decoration: none;
	/* Makes sure the link doesn't get underlined */
	z-index: 10;
	/* raises anchor tag above everything else in div */
	background-color: white;
	/*workaround to make clickable in IE */
	opacity: 0;
	/*workaround to make clickable in IE */
	filter: alpha(opacity=0);
	/*workaround to make clickable in IE */
}

.cp-red {
width: 8px !important;
height: 8px !important;
margin: -4px 0px 0px -4px !important;
background: #ff0202 !important;
}
.cp-green {
width: 8px !important;
height: 8px !important;
margin: -4px 0px 0px -4px !important;
background: #00b100 !important;
}
.embed-nav li {
float: left;
}
.embed-nav {
background: #3d3d3e;
font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
font-size: 13px;
line-height: 1.4;
position: relative;
z-index: 1;
position: relative;
white-space: nowrap;
}
.embed-nav li.active a:after {
content: "";
position: absolute;
top: 100%;
left: 50%;
bordeXr-top: 5px solid #ccc;
border-top: 5px solid #f2ffff;
border-left: 8px solid transparent;
border-right: 8px solid transparent;
margin-left: -8px;
}
.embed-nav a {
text-decoration: none;
color: #76daff;
display: inline-block;
position: relative;
padding: 3px 6px;
line-height: 26px;
transition: unset;
cursor: pointer;
}
.embed-nav {
background: #3a3a3a;
}
.embed-nav a {
color: #ffffff;
}
.embed-nav li.active {
bacXkground: #3ec9cb;
background: #f2ffff;
	color: #000000;
}
color: #000000;
}
.embed-nav li.active a:after {
borXder-top-color: #3ec9cb;
border-top-color: #f2ffff;
}
.embed-nav .logo-wrap a {
color: #ffffff;
}
.embed-nav .cp-embed-logo {
fill: #ffffff !important;
}
.embed-nav ul {
list-style: none;
margin: 0;
}
.ui-keyboard-input-current {
-moz-box-shadow: unset;
-webkit-box-shadow: unset;
box-shadow: unset;
}
.hide {
display: none!important;
}
#logo {
margin-bottom: 10px;
padding: 4px 0 0 4px!important;
	height: 28px;
}
.ui-keyboard {
height: 32px;
display: block;
background: #efefef;
z-index: 10000;
text-align: center;
color: #f2f2f2;
padding: 0px 0 0 0;
border-radius: 0;
left: 0;
bottom: 0;
position: fixed;
width: 100%;
}
.ui-keyboard-button {
height: 28px;
min-width: 28px;
margin: .1em .4em;
cursor: pointer;
line-height: 20px;
padding: 0;
}
.ui-keyboard-button span {
padXding-bottom: 4px;
}
.ui-keyboard-div {
position: fixed;
height: 50px;
display: block;
width: 100%;
background: #333;
z-index: 10000;
text-align: center;
color: #f2f2f2;
padding: 0px 0 0 0;
top: 0px;
}
.ui-keyboard-button {
font-size: 18px!important;
}
.swiper-container {
width: 100%;
height: 100%;
}
.swiper-container-h .swiper-wrapper {
heigXht: calc(100% - 50px);
height: 100%;
}
.swiper-container-h  {
padding-top: 32px;
		marXgin-top: 32px;
}
.swiper-slide {
texXt-align: center;
font-size: 18px;
background: #fff;
/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
.swiper-container-v {
background: #333;
}
.swiper-pagination-bullet {
background: #888;
opacity: .9;
}
.swiper-pagination-v .bullet-green {
opacity: .7!important;
background: #28a745;
}
.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
margin: 6px 0px 6px 2px;
}
.swiper-pagination-bullet-active {
opacity: 1!important;
background: #007aff!important;
width: 12px;
height: 12px;
margin: 6px 0px 6px 0px!important;
}
.swiper-pagination {
z-index: 10200;
}
uXl {
margin: 1em auto;
width: 400px;
}
li.swiper-pagination-switch {
cursor: pointer;
display: inline-block;
width: 75px;
border: 1px solid #CCC;
background: #E0DEDE
}
li.swiper-pagination-switch.active {
background-color: pink
}

.swiper-container-vertical>.swiper-pagination-bullets {
	right: 7px;

}
span.cm-bracket,
span.cm-tag, span.cm-keyword, span.cm-error,
span.cm-link,
span.cm-string,
span.cm-attribute, span.cm-property,
span.cm-variable, span.cm-variable-2,

#lesson-page .code-pre {
font-family: "Consolas", monospace;
color: #888;
direction: ltr;
	font-size: 18px;
		line-height: 18px;
}

.consolas {
	font-family: "Consolas", monospace;
	/* font-size: .85em; */
	font-size: 24px;
}

#lesson-page .code-pre-bg {
	padding: 10px;
	border-radius: 4px;
background-color: #333;
width: fit-content;
	margin: auto;
}


#lesson-page .container {
color: #fff;
padding: 20px 40px 20px 24px;
}

.w100{
width: 100%;
}

.f80 {
font-size: 80%!important;
}

.nobr	{ white-space:nowrap; }

#lesson-page .slide-chapter {
color: #fff;
font-faXmily: "Montserrat", "Helvetica Neue", Arial, sans-serif;
font-size: 48px;
text-transform: none;
}

#lesson-page .p40 {
margin-bottom: 25px;
}

#lesson-page h2.lesson-title {
font-size: 46px;
	line-height: 48px;
	color: #fff;
margin-bottom: 5px;
}

#lesson-page  h3.lesson-title {
font-size: 38px;
	line-height: 38px;
	color: #fff;
margin-bottom: 15px;
	text-transform: none;
}

#lesson-page  p.lesson-subtitle {
color: #777;
	font-size: 30px;
margin-bottom: 40px;
}
#lesson-page  p.lesson-instructions {
font-size: 20px;
	line-height: initial;
}


.slide_aqua, .slide_aqua h2 {
background: #3ec5bf!important;
color: white;
}
.slide_pink, .slide_pink h2 {
background: #f657a9!important;
color: white;
}
.slide_navy_blue, .slide_navy_blue h2 {
background: #304151!important;
color: white;
}

#lesson-page ol.instructions-list  {
		padding: 24px;
}
#lesson-page  li {

	text-align: left;
	font-size: 21px;
	margin-bottom: 1em;
}

.jtk-overlay {z-index: 99;} 
.jtk-connector {z-index: 98;} 
.myLabel {background-color: #fff;} 
#container {width: 100%;position: relative;margin: 10px;} 
#w1 {
	posXition: absolute;
	left: 360px;
	top: 110px;
	width: 100px;
	height: 90px;
	border: 1px black solid;
	word-break: break-all;
} 
#w2 {
	posiXtion: absolute;
	left: 250px;
	top: 250px;
	width: 220px;
	height: 100px;
	 border: 1px black solid;
	word-break: break-all;
} 

.jtk-connector { z-index:4; }

svg.red-line path {
stroke:red;
stroke-width:2;
}
svg.silver-line path {
stroke:silver;
stroke-width:1;
}

#lesson-page .slide-25-img {
	width: 90%;
	float: right;
	padding-top: 40px;
}
/* ---------------------------------------- */


.swiper-pagination-bullet {
	background: #444;
	opacity: .9;
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 2px 0px 2px 2px;
}

.swiper-pagination-bullet {
	width: 5px;
	height: 5px;
	display: inline-block;
	border-radius: 100%;
	background: #000;
	opacity: .2;
}

.swiper-pagination-bullet {
	background: #444;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	opacity: 1!important;
	background: #fff!important;
	border: 1px solid #444;
	width: 9px;
	height: 9px;
	margin: 2px 0px 2px 0px!important;
}

#lesson-page .aqua {color: #009688!important;}
#lesson-page .green {color: #00b050!important;}
#lesson-page .yellow {color: #fcef2e!important;}
#lesson-page .pink {color: #f5e!important;}
#lesson-page .blue {color: #03A9F4!important;}
 #lesson-page .red {color: #ff6a00!important;}
 #lesson-page .encouraging{color: #5fd3aa !important }
 #lesson-page .mission{color: #35abe6 !important; }
 #lesson-page .text-black{color: #000000 !important; }
 #lesson-page .think {color:#e44860 !important}

 #lesson-page .briefing {color: #bfbfb7 !important }
 .nobr {white-space: nowrap}
 .btn-encouraging{background: #5fd3aa !important;font-weight: bold;color: #fff;font-family:'Rajdhani', sans-serif;font-size: 20px;}
 
 .lesson-Xtitle {
 weight: normal;
 }
 #lesson-page h3.lesson-title {
	font-size: 32px;
	/* line-height: 32px; */

	/* font-size: 42px;
	line-height: 50px; */
	}
	#lesson-page p.lesson-instructions {
		font-size: 24px;
	}
	 #lesson-page ol.lesson-instructions {
		 margin-bottom: 0px;
	 }
	 #lesson-page ol.lesson-instructions li {
		font-size: 24px;text-align: left;
	padding-bottom: 10px;
	
	}
	 #lesson-page ol.lesson-instructions li:last-child {
	padding-bottom: 0px;
	}
	.w-15 {
	width: 15%!important;
}
.w-20 {
	width: 20%!important;
}


.lesson-tabs {
	max-width: 150px;
	text-align: center;
	font-size: 20px;
			line-height: 36px;
	font-family: 'Rajdhani', sans-serif;
			background-color: white;
	color: black;
	display: block;
	margin: 10px auto;
	text-transform: uppercase;
	
}
/*	
#lesson-page p.lesson-tip {
	padding: 6px;
	background-color: rgba(255,255,255,.2);
	margXin: 0 20px;
	font-size: 18px;
	position: absolute;
	bottom: 0px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: calc(100% - 40px);
			z-index: -1;
	}
	*/
	#lesson-page p.lesson-tip {
	padding: 6px;
	/* background-color: rgba(255,255,255,.2); */
	background: #f1f1f1;
	margin: 0px;
	color: #000000;
	font-size: 18px;
	 position: absolute; 
	 bottom: 10px; 
	 left: 50%; 
	 -webkit-transform: translateX(-50%); 
	 transform: translateX(-50%); 
	 width: calc(100% - 40px); 
	z-index: -1;
}

	#lesson-page p.lesson-tip span {
		/* color: #fd6f6f; */
		color: #fc3535;
	}
	#lesson-page .slide-chapter-bg {
	background-color: #44e3e8!important;
	}
	#lesson-page .checkpoint {
	background-color: #ffe712!important;
	}
	#lesson-page .bg-green{
		background-color: #54b051 !important;
	}
	#lesson-page .bg-blue{
		background-color: #35abe6 !important;
	}
	#lesson-page .bg-pink{
		background-color: #e44860 !important;
	}
	#lesson-page .bg-training{
		background-color: #f16d59 !important;
	}
	#lesson-page .checkpoint p.lesson-tip {
		background: #f1f1f1 !important;
	}
	#lesson-page .checkpoint .container {
	color: black;
	}
	#lesson-page .checkpoint p.lesson-tip span {
	color: #fc3535;
	}
	#lesson-page span.cm-bracket, #lesson-page span.cm-tag, #lesson-page span.cm-keyword, #lesson-page span.cm-error, #lesson-page span.cm-link, #lesson-page span.cm-string, #lesson-page span.cm-attribute, #lesson-page span.cm-property, #lesson-page span.cm-variable, #lesson-page span.cm-variable-2, #lesson-page .code-pre {
			font-size: 20px;
			line-height: 20px;
	}
	#lesson-page .code-pre span.cm-bracket, #lesson-page .code-pre span.cm-tag, #lesson-page .code-pre span.cm-keyword, #lesson-page .code-pre span.cm-error, #lesson-page .code-pre span.cm-link, #lesson-page .code-pre span.cm-string, #lesson-page .code-pre span.cm-attribute, #lesson-page .code-pre span.cm-property, #lesson-page .code-pre span.cm-variable, #lesson-page .code-pre span.cm-variable-2, #lesson-page .code-pre {
			font-size: 20px;
			line-height: 20px;
font-weight: bold;

	}

	
	#lesson-page  .checkpoint .code-pre span.cm-string {
			color: #fd9300;
	}
	
	#lesson-page  .checkpoint span.cm-property, #lesson-page span.cm-attribute {
			color: #7ba420;
	}
	
	.cm-s-base16-dark span.cm-error {
		background: #ffffff2b;
	}
		
	.op40 {opacity:.35; font-weight: normal!important;color: #ddd!important;}
	.checkpoint .op40 {color: #555!important;}
	.op60 {opacity:.6}

	.checkpoint .actions li.correct .check-icon, .check-info.correct .check-icon {
	font-size: 
	}
	.checkpoint .actions li.correct .check-icon, .check-info.correct .check-icon {
	background-color: initial;
	color: #00A921;
	}
	.btn-primary.success img {
	width: 40px;
	}
	#lesson-page .btn-primary, .btn-primary {
			border-bottom: initial;
	font-size: 20px;
	}
	#lesson-page .btn-primary.success {
		background-color: #68c300!important;
	}
	.success-animation { 
	background:none;    top: calc(50% - 1.25em);
			left: calc(50% - 1.25em);height: initial;
			width: initial;
			}

	 #lesson-page .checkcode .code-pre {
		 text-align: left;
			line-height: 130%;
			width: 95%;
			font-size: 16px;
	}
	
	#lesson-page .checkcode .code-pre span.cm-bracket, #lesson-page .checkcode .code-pre span.cm-tag, #lesson-page .checkcode .code-pre span.cm-keyword, #lesson-page .checkcode .code-pre span.cm-error, #lesson-page .checkcode .code-pre span.cm-link, #lesson-page .checkcode .code-pre span.cm-string, #lesson-page .checkcode .code-pre span.cm-attribute, #lesson-page .checkcode .code-pre span.cm-property, #lesson-page .checkcode .code-pre span.cm-variable, #lesson-page .checkcode .code-pre span.cm-variable-2, #lesson-page .checkcode .code-pre {
						font-size: 16px;
	} 
	
	
	#lesson-page .checkcode .lesson-instructions {
		width: 95%;
		 text-align: left;
		padding-left: 16px;
	}
	
	.op-40 {opacity:.4;}
	
	.checkpoint .op-40 {
	opacity: .2;
	color: #333!important;
}
	.wrap {
				white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	}
	
	span.cm-bracket, span.cm-tag, span.cm-keyword, span.cm-error, span.cm-link, span.cm-string, span.cm-attribute, span.cm-property, span.cm-variable, span.cm-variable-2, #lesson-page .code-pre {
			color: #ddd;
	}
	

	
	.btn-primary.next {
	background-color: #6bc3ff!important;
}
	
	.cm-s-base16-dark span.cm-tag,  .cm-s-base16-dark span.cm-keyword  {
	/* color: #de3f41; */
	color: #c76126;
}
	 
	#lesson-page img {
	max-width: 300px;
	}

	body, #header {
	max-width: 500px;
	margin: auto;
	}
	/* body {
	background-color:#0f0f0f;
	} */
	#ediXtor_page {
		backXground: #1f1f1f;
	paddXing-top: 10px;
	padding-bottom: initial;
	}
	#editor_page, #prevXiew_page, #profile_page {
			padding-bottom: initial;
					heiXght: calc(100% - 32px);
					height:100%;
	}
	
	.CodeMirror {
	font-size: 20px;
	paddXing: 10px 0 0 0;
}

.swiper-coXntainer-h {
	padding-top: 0;
	margin-top: 32px;
	box-sizing: border-box;
}
.loading {
	background-color: #0b0b0bde;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 1050;
	dispXlay: none;
}
.spinner {
margin: calc(50vh - 60px) calc(50% - 25px);
width: 50px;
height: 40px;
text-align: center;
font-size: 10px;
}

.spinner > div {
background-color: #c0c0c0;
height: 100%;
width: 6px;
display: inline-block;

-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
-webkit-animation-delay: -1.1s;
animation-delay: -1.1s;
}

.spinner .rect3 {
-webkit-animation-delay: -1.0s;
animation-delay: -1.0s;
}

.spinner .rect4 {
-webkit-animation-delay: -0.9s;
animation-delay: -0.9s;
}

.spinner .rect5 {
-webkit-animation-delay: -0.8s;
animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
0%, 40%, 100% { 
	transform: scaleY(0.4);
	-webkit-transform: scaleY(0.4);
}  20% { 
	transform: scaleY(1.0);
	-webkit-transform: scaleY(1.0);
}
}

#header, #footer {

	z-index: 1080;
}



.success-layers {
	display: inline-block;
	height: 1em;
	position: relative;
	text-align: center;
	vertical-align: -.125em;
	font-size: 2em;
	text-align: center;
	width: 1.25em;
}

.success-svg-icon {
	color: #fff;
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
}

.checkpoint .actions li {
	font-size: 18px;
}
.fs-16 {font-size: 16px!important;}
.fs-24 {font-size: 24px!important;}

.img-placeholder {
		min-width: 250px;
	min-height: 200px;
	border: 1px white solid;
} 

#lesson-page .tab-1 { padding-left: 15px; }
#lesson-page .tab-2 { padding-left: 30px; }

#lesson-page .swiper-slide {
	background-color: #222222;
	z-index: 1060;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	paddXing: 20px 40px 20px 24px;
	padding: 10px 30px 10px 14px;
}



#lesson-page .container {
	padding: initial;
	margin: auto 0px;
}

#lesson-page .container:first-child:not(:only-child), #lesson-page .container:last-child:not(:only-child)  {
	margin: 0px;
}

#lesson-page .container:nth-child(2):last-child {
	margin: auto 0px;
}

#lesson-page .checkpoint  .code-pre {
	color: #333;
	background-color: rgba(255, 255, 255, 0.7);
			margin: 0;
			width: 100%;
			word-wrap: break-word;
	word-break: break-word;
}

#lesson-page .checkpoint .code-pre span.cm-bracket, #lesson-page .checkpoint .code-pre span.cm-tag, #lesson-page .checkpoint .code-pre span.cm-keyword, #lesson-page .checkpoint .code-pre span.cm-error, #lesson-page .checkpoint .code-pre span.cm-link, #lesson-page .checkpoint .code-pre span.cm-string, #lesson-page .checkpoint .code-pre span.cm-attribute, #lesson-page .checkpoint .code-pre span.cm-property, #lesson-page .checkpoint .code-pre span.cm-variable, #lesson-page .checkpoint .code-pre span.cm-variable-2, #lesson-page .checkpoint .code-pre {
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
}

#allow-interact i, #disallow-interact i{
line-height: unset;
		color: white;
}

#allow-interact, #disallow-interact {
position: absolute;
	bottom: 18px;
	right: 10px;
	z-index: 1050;
			background-color: #c5c5c5;
	border-radius: 50%;
	height: 48px;
	width: 48px;
	text-align: center;
	transform: scale(1);
	opacity: 1;
	-webkit-animation: bounce 1.0s;
	-moz-animation: bounce 1.0s;
	animation: bounce 1.0s;

} 

.icon-locked i{
		position: relative;
	bottom: -3px;
	right: 1px;
	font-size: 32px!important;
	
}

#allow-interact.icon-unlocked  {
background-color: #4caf50;
}

.icon-unlocked i {

		position: relative;
	bottom: 1px;
	right: -1px;
	font-size: 35px!important;
} 

#allow-interact div, #disallow-interact div {
	font-size: 9px;
	line-height: 11px;
	color: #7b7b7b;
	letter-spacing: -0.2px;
}

#allow-interact div {
color: #4caf50;
top: -2px;
	position: relative;
}
.pointer-none {
pointer-events: none;
}


@font-face {
font-family: 'codejika';
src:  url('../fonts/codejika.eot?jzj9');
src:  url('../fonts/codejika.eot?jzj9#iefix') format('embedded-opentype'),
	url('../fonts/codejika.ttf?jzj9') format('truetype'),
	url('../fonts/codejika.woff?jzj9') format('woff'),
	url('../fonts/codejika.svg?jzj9#codejika') format('svg'),
	url('../fonts/consola.woff') format('woff');
font-weight: normal;
font-style: normal;
}

i {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'codejika' !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
	line-height: 1.2;
	font-size: 1.5em;
vertical-align: -.25em;
/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.fs0 {
: 16px;
}
.fs1 {
font-size: 1em;
}
.fs2 {
font-size: 2em;
}
.fs3 {
font-size: 3em;
}
.fs4 {
font-size: 4em;
}
.fs5 {
font-size: 5em;
}
.fs6 {
	font-size: 7em;
}
.icon-sentiment_satisfied, .icon-arrow_forward {
	font-size: 1em;
	vertical-align: -.1em;
}

.icon-uniE010:before {
content: "\e010";
}
.icon-uniE011:before {
content: "\e011";
}
.icon-account_circle:before {
content: "\e853";
}
.icon-arrow_forward:before {
content: "\e5c8";
}
.icon-assignment:before {
content: "\e85d";
}
.icon-beenhere:before {
content: "\e52d";
}
.icon-check_circle:before {
content: "\e86c";
}
.icon-close1:before {
content: "\e5cd";
}
.icon-code1:before {
content: "\e86f";
}
.icon-comment:before {
content: "\e0b9";
}
.icon-dehaze:before {
content: "\e3c7";
}
.icon-desktop_mac:before {
content: "\e30b";
}
.icon-face:before {
content: "\e87c";
}
.icon-home:before {
content: "\e88a";
}
.icon-lock:before {
content: "\e897";
}
.icon-import_contacts:before {
content: "\e0e0";
}
.icon-local_library:before {
content: "\e54b";
}
.icon-lock_open:before {
content: "\e898";
}
.icon-lock_outline:before {
content: "\e899";
}
.icon-personal_video:before {
content: "\e63b";
}
.icon-replay:before {
content: "\e042";
}
.icon-rotate_left:before {
content: "\e419";
}
.icon-school:before {
content: "\e80c";
}
.fa{
font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1.2;
	font-size: 1.5em;
	vertical-align: -.25em;
}
.fa-images:before{
font-family: "Font Awesome 5 Free"; font-weight: 900;
 /* content: "\f302"; */
	font-size: 20px;
	vertical-align: 0 !important
}
.fa-external-link-square-alt::before{
	font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    font-size: 0.7em;
    margin-left: 4px;
}
.fa-sign-in-alt::before{
	font-family: "Font Awesome 5 Free"; font-weight: 900;
	font-size: 1.5em;
	/* vertical-align: 0 !important */
	}
.fa-thumbs-up:before{
font-family: "Font Awesome 5 Free";
	font-size: 20px;
	vertical-align: 0 !important
}
.icon-sentiment_satisfied:before {
content: "\e813";
}
.icon-settings_ethernet:before {
content: "\e8be";
}
.icon-view_list:before {
content: "\e8ef";
}
.icon-th-list:before {
content: "\f00b";
}
.icon-check:before {
content: "\f00c";
}
.icon-close:before {
content: "\f00d";
}
.icon-remove:before {
content: "\f00d";
}
.icon-times:before {
content: "\f00d";
}
.icon-repeat:before {
content: "\f01e";
}
.icon-rotate-right:before {
content: "\f01e";
}
.icon-bars:before {
content: "\f0c9";
}
.icon-navicon:before {
content: "\f0c9";
}
.icon-reorder:before {
content: "\f0c9";
}
.icon-list-ul:before {
content: "\f0ca";
}
.icon-rotate-left:before {
content: "\f0e2";
}
.icon-undo:before {
content: "\f0e2";
}
.icon-smile-o:before {
content: "\f118";
}
.icon-code:before {
content: "\f121";
}
.icon-hand-grab-o:before {
content: "\f255";
}
.icon-hand-rock-o:before {
content: "\f255";
}
.icon-hand-pointer-o:before {
content: "\f25a";
}
.icon-television:before {
content: "\f26c";
}
.icon-tv:before {
content: "\f26c";
}
.icon-commenting:before {
content: "\f27a";
}
.icon-user-circle:before {
content: "\f2bd";
}

/* ================== gallery CSS ======================== */
#gallery_page h2{
text-align: center;
}
#gallery_page  .gallery-container{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25em;
}
#gallery_page .card-blog{
border: 1px solid #dddddd;
min-height: 10em;
/* margin: 3px; */
/* width: calc(100% / 3); */
 
/* width: 31%; */
/* width: 48%; */
width: 100%;
border-radius: 6px;
box-sizing: border-box;
}
#gallery_page .card-blog h3{
font-size: 18px;
text-align: center;
background: #333;
color: #ffffff;
margin: 0;
padding: 4px;
border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#gallery_page .card-blog h4{
padding-top: 4px;
font-size: 16px;
margin: 0;
text-align: center;
}
#gallery_page .card-blog a{
	text-decoration: none;
	cursor: pointer;
}
#gallery_page .card-blog .comments{
margin: 0 15px;
text-align: center;
}
#gallery_page .card-blog #demo{
text-align: left;
}
#gallery_page .card-blog .view-section span svg{
font-size: 15px;
/* color: rgba(0, 0, 0, 0.7); */
color: #333333;
}
#gallery_page .card-blog .view-section .views small{
margin: 5px;
}
#gallery_page .card-blog .view-section .likes small{
margin: 5px;
}
#gallery_page .card-blog .comments a{
text-align: center;
/* justify-content: space-between; */
}
#gallery_page .card-blog .likes{
 text-align: center;
 margin-left: 15px;
}
#gallery_page .card-blog .views{
margin-left: 15px;
}
#gallery_page .card-blog .HTMLscreen iframe{
width: 100%;
height: 100%;
border: none;
}
#iframeResult h1{
color: #000;
}
#galleryContainer{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
#userKey,#userKeyLike{
margin-top: 18px;
min-width: 80%;
}
#gallery_page .card-blog .detail-blog{
background: #efefef;
margin-top: -9px;
}
#gallery_page .card-blog .detail-blog .view-section button{
border: none;
outline: none;
background: inherit;
cursor: pointer;
}
#gallery_page .card-blog .detail-blog .view-section button:active {
transform: translateY(-1.5px);
}
#gallery_page .pagination {
	height: 25px;
	background-color: transparent;
	padding: 0;
	position: relative;
	bottom: 0;
	left: 0;
	/* display: block; */
	width: 100%;
	margin: 0;
	border-radius: 0;
 display: flex;
 justify-content: center;
}
#gallery_page .pagination .page-link{
margin-left: 0;
}
#gallery_page .pagination .previous{
margin-right: 1em;
}
#gallery_page .pagination .next{
margin-left: 1em;
}
#bottom-pagination{
display: none;
margin-top: 25px;
margin-bottom: 30px;
}
@media screen and (min-width: 760px){
#gallery_page .card-blog{
	width: 100%;
}
#userKey,#userKeyLike{
	margin: 10px;
}


}
@media screen and (min-width: 500px){
#loadingIcon p{
color: #ffffff;
position: absolute;
	top: 40%;
	left: 45%;
}
.speech-bubble .modal-content {
	position: relative;
	background: #ffffff;
	border-radius: .4em;
	margin-top: 10em;
	}
}
/* ============== gallery search-blog styles ============= */
#gallery_page .search-continer .search-list ul{
	list-style: none;
	display: flex;
	/* justify-content: space-evenly; */
	flex-wrap: wrap;
}
.search-continer .search-list ul li{
	background: #ccc;
    width: 84px;
    text-align: center;
	border-radius: 9px;
	margin: 3px;
}
.search-continer .search-list ul li a{
	color: inherit;
	text-decoration: none;
	padding: 5px 1px;
}
.search-continer .search-list ul li select{
	text-align: center;
	background: none;
    border: none;
}
.search-continer .search-list ul li select:focus{
	outline: none;
}
.search-continer .search-list ul li select,option{
	width: 82px;
	font-size: 14px;
}
/* end of search styles */

/* spinner */
.loading {
	background-color: #333;
	height: 100vh !important;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 1050;
	/* dispXlay: none; */
}
.spinner {
	margin: calc(56vh - 60px) calc(50% - 25px);
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
}
.spinner > div {
	background-color: #c0c0c0;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}
.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}
.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}
.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
0%, 40%, 100% { 
	transform: scaleY(0.4);
	-webkit-transform: scaleY(0.4);
}  20% { 
	transform: scaleY(1.0);
	-webkit-transform: scaleY(1.0);
}
}

/* fancybox css */
/* .featherlight .featherlight-content {
	margin-left: 0;
	margin-right: 0;
	height: 50vh;
	padding: 10px 10px 0;
	width: 45%;
	border-bottom: 10px solid transparent;
}

@media only screen and (max-width: 1124px){
.featherlight .featherlight-content {
	margin-left: 0;
	margin-right: 0;
	height: 100vh;
	padding: 10px 10px 0;
	width: 100%;
	border-bottom: 10px solid transparent;
}
.featherlight-content {
	max-height: 100% !important;
}
}
.featherlight .featherlight-inner {
	display: block;
	width: 100%;
	height: 99%;
	margin-top: 14px;
} */
.priview_blog{
position: relative;
}
.priview_blog span{
position: absolute;
color: #fff;
right: 4px;
top: 3px;

}
#previewIcon span{
	position: absolute;
    color: #fff;
    right: -2px;
	top: 0px;
	width: 20px;
}
#previewIcon span img{
	width: 100%;
}
/* popUp close button */
.featherlight .featherlight-close-icon {
	position: absolute;
	z-index: 9999;
	top: 0;
	right: 0;
	line-height: 38px;
	width: 45px;
	cursor: pointer;
	text-align: center;
	font-family: Arial,sans-serif;
	background: #fff;
	background: rgba(255,255,255,.3);
	color: #000;
	border: 0;
	padding: 0;
	font-size: 28px;
}
#previewIcon {
position: absolute;
right: 10px;
color: #fff;
top: 4px;
font-size: 14px;
width: 45px;
}
#openDialog iframe{
width: 100%;
height: 100%;
}
.modal{

width: 100% !important;
/* top: 41px !important; */
height: 94.8vh !important;
padding: 0px !important;
border-radius: 0 !important;
/* vertical-align: top !important; */
background: transparent !important;
margin-top: 3em;
}
.modal a.close-modal::before{
content: "X";
color: #444;
font-size: 25px;
position: absolute;
font-size: 32px;
right: 5px;
top: -13px;
color: #fff
}
.modal a.close-modal{
position: absolute;
top: 10px !important;
text-indent: 20px !important;
right: 20px !important;
background: none !important;
padding-left: 5px;
padding-bottom: 5px;
z-index: 9999;
color: transparent !important;
}
.blocker {
top: 0px !important;
padding: 0 !important;
overflow: inherit !important;
}
.likes i{
vertical-align: 0 !important
}
/* TLN line-No style */
.tln-active,
.tln-wrapper,
.tln-line {
	margin: 0;
	border: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	vertical-align: middle;
	list-style: none;
}

.tln-active {
	display: inline-block;
	/* margin-top: 7px; */
	/* padding: 0 10px 10px 10px; */
	padding: 10px;
	width: calc(100% - 49px);
	height: 100%;
	font-size: 16px;
	line-height: 1.5;
	font-family: "Roboto Mono", monospace;
	word-break: break-all;
	/* border: 1px solid #aeaeae; */
	/* background-color: #fff; */
	resize: none;
	overflow-wrap: normal;
	overflow-x: auto;
	/* white-space: pre; */
}

.tln-wrapper {
	width: 49px;
	padding: 11px 5px 35px;
	/* padding: 0 5px 35px; */
	height: 100%;
	/* height: 97%; */
	word-break: break-all;
	overflow: hidden;
	display: inline-block;
	counter-reset: line;
	background: #313131;
}

.tln-line {
	width: 100%;
	display: block;
	text-align: right;
	line-height: 1.5;
	font-size: 16px;
	color: #6c757d;
}

.tln-line::before {
	counter-increment: line;
	content: counter(line);
	font-size: 16px;
	user-select: none;
}

/* reset button modal bug */
.fade {
	display: inline-flex;
	align-items: center;
	opacity: 1;
	transition: opacity .15s linear;
}

/* end of reset button modal */

/* ============== view code button styles in PopUp ==================  */

.modal .popup-header{
	width: 100%;
	background: #a7a7a7;
	padding: 9px;
	text-align: center;
	height: 3em;
}
.modal .popup-header  a{
	text-decoration: none;
    /* color: #000000; */
    display: block;
    width: 80px;
    margin: 0 auto;
	height: 23px;
	display: inline-block;
    background-color: #3ec9cb;
	color: #fff;
	cursor: pointer;
}
.modal .popup-header .view-code::before{
	content:"<>";
	padding: 3px;
}
.modal .popup-header .view-code, .view-output{
	background: #ffffff;
    font-size: 14px;
    border-radius: 0;
    /* border: 2px solid gray; */
    /* font-weight: 800; */
    letter-spacing: .8px;
    text-decoration: none;
    padding: 1px 8px;
	/* color: #000; */
	background-color: #3ec9cb;
    color: #fff;
}

.add-background{
	margin: 0;
    padding: 8px;
	height: 100vh;
	overflow: hidden;
    background: #fff;
    overflow: scroll;
}

/* ============ required mark ============ */
.required-mark{
	color: red;
	font-size: 20px;
}
.error-border{
	border: 1px solid red;
}

/* Version two css */
@font-face {
	font-family: 'iconic';
	src: url("../mobile/fonts/iconic.woff")
  }
  @font-face {
	font-family: 'consolas';
	src: url("../fonts/consola.woff")
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	font-family: 'Rajdhani', sans-serif !important;
	text-transform: uppercase;
	/* font-weight: bold; */
	/* color: #333; */
  }

  p,
  li,
  a,
  label,
  em {
	font-family: 'Rajdhani', sans-serif;
	text-decoration: none;
	font-size: 14px;
  }

  .wrappper {
	position: absolute;
	background-color: #101010;
	margin: 0 auto;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
  }

  .wrappper .content {
	text-align: center;
  }

  .content .title-1 {
	margin: 10px 0;
	text-align: left;
	/* margin-left: 18%; */
  }

  .content .title-1 h1 {
	font-size: 26px;
	color: #6df2c7;
	font-weight: normal;
  }

  .content .title-2 h1 {
	font-size: 42px;
	font-weight: normal;
	color: #ffffff;
  }

  .content .title-2 p {
	color: #ffffff;
	font-size: 20px;
  }

  .image-area {
	position: relative;
	max-width: 160px;
	margin: 15px auto;
  }

  .image-area .slide-4 {
	background-image: linear-gradient(to bottom, #101010, #101010, #0000000d, #000000, #000000);
  }

  .gradient-area {
	position: absolute;
	width: 100%;
	border-radius: 8px;
	height: 100%;
	background-image: linear-gradient(to bottom, #0000000d, #0000000d, #0000000d, #000000, #222222);
  }

  .image-area img {
	border: 2px solid #cccccc;
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 13px;
  }

  .swipe-up-blog {
	margin-top: 1.5em;
	text-align: center;
  }

  .swipe-up-blog .title-3 {
	position: absolute;
	width: 240px;
	/* margin: 0 auto; */
	/* bottom: 20px; */
	bottom: 3px;
	left: 50%;
	margin-left: -120px;
  }

  .swipe-up-blog .title-3 p {
	color: #ffffff;
	font-size: 23px;
  }

  .swipe-up-blog  .arrow img {
	transform: rotateX(180deg);
  }

  .swipe-up-blog .arrow {
	max-width: 150px;
	margin: 0 auto;
	animation: bounce1 2s infinite !important;
	-webkit-animation: bounce1 2s infinite;
	-moz-animation: bounce1 2s infinite;
	-o-animation: bounce1 2s infinite;

  }

  @-webkit-keyframes bounce1 {

	0%,
	20%,
	50%,
	80%,
	100% {
	  -webkit-transform: translate(0);
	}

	40% {
	  -webkit-transform: translateY(-30px);
	}

	60% {
	  -webkit-transform: translateY(-15px);
	}
  }

  @-moz-keyframes bounce1 {

	0%,
	20%,
	50%,
	80%,
	100% {
	  -moz-transform: translateY(0);
	}

	40% {
	  -moz-transform: translateY(-30px);
	}

	60% {
	  -moz-transform: translateY(-15px);
	}
  }

  @-o-keyframes bounce1 {

	0%,
	20%,
	50%,
	80%,
	100% {
	  -o-transform: translateY(0);
	}

	40% {
	  -o-transform: translateY(-30px);
	}

	60% {
	  -o-transform: translateY(-15px);
	}
  }

  @keyframes bounce1 {

	0%,
	20%,
	50%,
	80%,
	100% {
	  transform: translateY(0);
	}

	40% {
	  transform: translateY(-30px);
	}

	60% {
	  transform: translateY(-15px);
	}
  }

 

  /* slides css start*/
  .bounce-arrow {
	animation: bounce1 2s infinite !important;
	-webkit-animation: bounce1 2s infinite;
	-moz-animation: bounce1 2s infinite;
	-o-animation: bounce1 2s infinite;
	position: absolute;
	left: 50%;
	margin-left: -75px;
	width: 150px;
	bottom: 1em;
  }

  .bounce-arrow img {
	transform: rotateX(180deg);
  }

  .heart-blog {
	position: absolute;
	left: 50%;
	margin-left: -75px;
	width: 200px;
	bottom: 1em;
	display: flex;
  }

  .heart-blog .img-area img {
	width: 38px;
  }

  .h1-content-area,
  .h1-content-area-2,
  .h1-content-area-3 {
	background: #404040;
	border-top: 2px solid #3c6f9e;
	border-bottom: 2px solid #3c6f9e;
	font-family: consolas !important;
  }

  .h1-content-area h1 {
	padding: 34px;
	font-family: consolas!important;
  }
  /* .h1-content-area p {
	font-family: consolas!important;
  } */

  .h1-content-area h1:before {
	content: "<h1>";
	font-size: 60px;
	text-transform: lowercase;
	letter-spacing: 9px;
  }

  .h1-content-area-2 h1:before {
	content: "<h1>";
	font-size: 31px;
	text-transform: lowercase;
	letter-spacing: 5px;
  }

  .h1-content-area-2 h1 {
	padding: 8px;
	text-align: left;
	font-family: consolas !important;
  }

  .tip-blog-new {
	background: #f1f1f1 !important;
  }
  .bottom_keys {
    bottom: 0px;
    right: 0px;
    left: 0px;
    position: absolute !important;
    z-index: 9999;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}

  .bottom-title {
	line-height: 12px;
  }

  .bottom-title p {
	color: #ffffff;
	font-size: 34px;
	/* line-height: 32px; */
  }

  .lesson-title-light {
	color: #f1f1f1;
  }
  .task-1 p{
	text-align:left;
	font-size:21px;
  }

  /* *********** css arrows **********  */
  .arrow-box {
	position: relative;
  }

  .arrowDirection1 {
	position: absolute;
	bottom: 15vh;
	left: 150px;
	width: calc(50% - 200px);
	height: 40%;

  }

  .arrowDirection2 {
	position: absolute;
	bottom: 15vh;
	left: 263px;
	width: calc(50% - 200px);
	height: 40%;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
  }

  .arrow__body {
	width: 100%;
	height: 91%;
	margin-left: 11px;
	border-width: 5px 0 0 5px;
	border-style: solid;
	border-color: #6ff0b1;
	border-top-left-radius: 100%;
  }

  .arrow__body::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	border-width: 20px 15px 0;
	border-style: solid;
	border-color: #6ff0b1 transparent transparent;
  }

  /* ********** css arrows end ********** */

  /* slide css end */
  @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.keyboard-arrow {
	  bottom: 8vh !important;
	}
	.arrow-box img {
	margin-top:3em;
}
  }

  @media screen and (max-width:500px) {
	/* .swipe-up-blog {
	  margin-top: 4em;
	} */

	#swipe3 {
	  width: 160px;
	}

	/* #swipe3 {
	  top: 6em !important;
	  width: 102px !important;
	} */
  }

  @media screen and (max-width:420px) {
	.arrowDirection1 {
	  bottom: 12vh;
	  left: 112px;
	}

	.arrowDirection2 {

	  bottom: 12vh;
	  left: 252px;
	}

	.keyboard-arrow {
	  bottom: 15vh !important;
	}
   /* .bottom-title{
	   margin-top:-.5em;
	   position:absolute;
	   width:100%;
   } 
   .bottom-title p {
   color: #ffffff;
   font-size: 28px;
   line-height: 22px;
  }*/
  .content .title-2 h1 {
	font-size: 36px;
  }
  }

  @media screen and (max-width:480px) {
	.arrowDirection1 {
	  left: 110px;
	}

	.arrowDirection2 {

	  left: 254px;
	}

	.keyboard-arrow {
	  bottom: 16vh !important;
	}
  }
  @media all and (max-width: 405px) and (min-width:385px){
   
	  .bottom-title{
	  /* margin-top: -2.6em ;
	  position: absolute ; */
	  width: 100% ;
	  }
	  .bottom-title p{
		  font-size:28px;
		  line-height:16px;
	  }
  }
@media screen and (max-width:425px) and (min-width:403px){
	  .bottom-title{
	  margin-top: -.6em ;
	  /* position: absolute ; */
	  width: 100% ;
	  margin-bottom:5px;
	  }
	  /* .bottom-title p{
		  font-size:24px;
		  line-height:5px;
	  } */
  }
  @media screen and (max-width:380px) {
	.swipe-up-blog {
	  margin-top: 1.2em;
	}

	.swipe-hand {
	  width: 115px !important;
	  right: 1em;
	}

	.image-area p {
	  font-size: 22px !important;
	  bottom: 28px !important;
	}

	/* #swipe3 {
	  bottom: 5em;
	} */

	.arrowDirection1 {
	  bottom: 13vh;
	  left: 94px;
	}

	.arrowDirection2 {
	  left: 228px;
	}
	/* .bottom-title{
	  margin-top: 2.6em ;
	  position: absolute ;
	  width: 100% ;
	  } */
	  .consolas {
		font-size: 16px;
	}
	.h1-content-area h3,h4{
		font-size: 22px !important;
	}
	.extra-code{
		font-size: 20px !important;
	}
  }
  

  @media screen and (max-width:321px) {
	.image-area {
	  max-width: 112px;
	}

	/* #swipe3 {
	  bottom: 1em;
	} */

	#slide1 .swipe-hand {
	  top: 8em !important;
	  left: 0em !important;
	}

	/* .bottom-title p {
	  font-size: 16px;
	  line-height: 21px;
	} */

	.keyboard-arrow {
	  bottom: 17vh !important;
	}

	.arrowDirection1 {
	  left: 64px !important;
	}

	.arrowDirection2 {
	  left: 206px !important;
	}

	.arrow-box img {
	  margin-top: 1em !important;
	}
	#logo{
		height: 22px;
	}
  }


  @media screen and (min-width:500px) {
	/* .bottom-title p {
	  margin-top: -.5em;
	} */

  }

  @media screen and (min-width: 768px) and (max-width: 800px) {
	.keyboard-arrow {
	  bottom: 11vh;
	}
  }
  @media screen and (max-height:600px){
	.swipe-hand{
	  position:absolute;
	  top: 7em !important;
	  width: 91px;
	left: 0em !important;
	}
	.image-area {
	max-width: 103px;
  }
  /* .slide-order-3 .image-area{
	width:90%;
  } */
  #swipe3{
	width: 76px !important;
	top:4em !important;
	left:.5em !important;
  }
  }

  body,
  #header {
	max-height: 800px;
  }

  . {
	bottom: 0px;
	right: 0px;
	left: 0px;
	/* position: absolute !important; */
	/*  need to set this - to retain overflow behavior:  */
	z-index: 9999;
	margin-right: 0;
	margin-left: 0;
	width: 100%;
  }

  .button_design {
	background-color: rgb(231, 236, 231);
	border: 0.5px solid black;
	color: rgb(20, 12, 12);
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 2px;
	width: calc(100%/5);
  }

  textarea {
	width: 100%;
	height: 100%;
	background-color: #212121;
	color: #fff;
	font-size: 20px;
	border: none;
  }
 
  .html_tags{
	font-family:consolas !important;
  }
  /* html direction arrows start */
  .direction-arrow-blog{
	 position: relative;
  }
  .direction-arrow-right{
	width:80px;
	height:80px;
	font-size:60px;
	color:#5fd3aa;
  transform:rotate(90deg)
  }
  .arrow-right{
	transform:scaleY(-1)
  }
  .direction-arrow-left{
	width:80px;
	height:80px;
	font-size:60px;
	color:#5fd3aa;
	transform:rotate(90deg)
  }
  .inline-arrows{
	position: absolute;
    display: flex;
    /* max-width: 200px; */
    justify-content: space-around;
    width: 220px;
    font-weight: bold;
    left: 50%;
	margin-left: -110px;
	top:-0.3em;
  }
  /* html direction arrows end*/
  .like-this{
	padding: 0 0 0 40px;
    text-align: left;
    color: #000000;
  }
  .btn-share{
	color: #fff;
    /* width: 42%; */
    font-weight: bold;
    font-size: 16px;
    background: #5fd3aa;
  }
  .btn-share :hover{
	  color: #fff;
  }
  .bg-editor{
	background: #404040;
    border-top: 1px solid #3c6f9e;
    border-bottom: 1px solid #3c6f9e;
    padding: 15px 0;
  }

  /* keyboard-fixes */
  #editor_page{
	display: flex;
    flex-direction: column;
  }
  .tln-wrapper{
	align-self: start;
    position: absolute;
  }
  .tln-active{
	  padding-bottom: 0;
  }
  #editor{
	  margin-left: 48px;
  }
  .extra-code{
	font-size: 44px !important;
    letter-spacing: -15px;
    font-weight: bold;
  }
  #P1T1-output{
	  overflow: scroll !important;
  }

  /* ====================== P1T1 output html styles start ================ */
  .p1t1-h1 {
	font-size: 75px;
	color: white;
	}
  .p1t1-i {
	font-size: 25px !important;
	font-style: italic;
  }
  
  .p1t1-header {
	background: linear-gradient(110deg, teal 15%, lightblue 45%);
  }

  .p1t1-section {
	background-color: lightgrey;
  }
  .p1t1-footer {
  background: black;
  color: white;
  }

  .p1t1-div {
 	padding: 40px;
	text-align:center;
  }
 
  .p1t1-h3 {
	border: 2px solid white;
    font-size: 45px;
	padding: 15px;
	margin: auto;
	max-width: 400px;

  }
  /* ====================== P1T1 output html styles end ================ */

  @font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?8587ds');
	src:  url('../fonts/icomoon.eot?8587ds#iefix') format('embedded-opentype'),
	  url('../fonts/icomoon.ttf?8587ds') format('truetype'),
	  url('../fonts/icomoon.woff?8587ds') format('woff'),
	  url('../fonts/icomoon.svg?8587ds#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }
  .icomoon{
	font-family: 'icomoon' !important;
  }
  .new-icon{
	  font-size: 1.2rem !important;
  }
  .icon-thumb_up_alt:before {
	content: "\e900";
  }
  .icon-images:before {
	content: "\e90e";
  }
  .icon-enlarge:before {
	content: "\e989";
  }
  .icon-sign-in:before {
	content: "\e901";
  }

  /* User Profile css */
  #user_profile{
	  text-align: center;
  }
  #user_profile .container{
	  margin-bottom: 10em;
  }
  #user_profile p{
	font-size: 20px;
  }

  #login-modal #n_name{
	  display: none;
  }

  .project-pageLink{
	  text-decoration: none;
	  color: inherit;
  } 
  .project-pageLink:active{
	  text-decoration: none;
  }
  .project-pageLink:hover{
	text-decoration: none;
}.project-pageLink:hover li{
	text-decoration: none;
	color: #333333;
}
  /* *************** certifacate page  css start *************************** */
  .certificates-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }
  .certificate-card{
	  margin-top: 1em;
	flex: 0 1 calc(50% - 1em);
	display: block;
	cursor: pointer;
  }
  .certificate{
	height: 6em;
	border: 1px solid #2d2d2d;
  }
  #HtmlCertificate .close-modal::before{
	color: #444444 ;
}
.certificate-logo {
	text-align: center;
	margin: 1em;
}
.certificate-logo a{
	padding: 8px;
	background: #333;
}
  #HtmlCertificate .modal-content{
	  height: 100vh;
  }
  @media print {
	  #saveAsPdf{
		  color: rgb(224, 39, 39) !important;
			background-color: orangered !important;

	  }
	#logo {
		margin-bottom: 10px;
		padding: 4px 0 0 4px!important;
		height: 28px;
		background: #0f0f0f !important;
		}
		.certificate-logo {
			text-align: center !important;
			margin: 1em !important;
			background-color: orangered !important;

		}
		.certificate-logo {
			text-align: center !important;
			margin: 1em !important;
		}
		#saveAsPdf .certificate-logo a {
			padding: 8px;
			background-color: #00A921 !important;
			color: red !important;
		}
  }
