    /* Offline version 
        ===============*/
        .offline-content .section{
            max-width: 559.563px;
            margin: auto;
            margin-top: 50px;
            font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
            background: transparent;
            text-align: left;
        }
        h2{
            font-size: 26px;
        }
        .offline-submition-page p{
            font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
        }
        .offline-project_content{
            position: relative;
            display: none;
        }
        .thank-you-page, .offline-project-comments{
            display: none;
        }

        .offline-project_popup{
            display: none;
            right: 43px;
            position: absolute;
            top: -402px;
            background: rgba(7,23,55,.8);;
            height: 233px;
            padding: 88px;
            color: #fff;
        }
        .offline-submition-page_input{
            margin: 15px  0px;
            font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
        }
        .project-submit:hover{
            color: #333;;
        }
        .clickable-link{
            color: #007bff;
            cursor: pointer;
        }
        .clickable-link:active{
            color: #fd09e5;
        }
        .clickable-link:hover{
            color: #0056b3;
            text-decoration: underline;
        }
        h3, h4{
           text-transform: none !important;
        }
        /* #header{
           background: rgba(20,176,191,.5)!important
        } */
        .offline-project-report, .offline-project-comments{
            text-align: left !important;
            font-size: 14px;
        }
        .offline-project-report p, .offline-project-comments p{
            font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
            font-size: 14px;
        }
        /* .offline-project-report h2, .offline-project-report button{
            text-align: center !important;
        } */
        .offline-report h3{
            font-size: 20px;
            text-transform: none;
        }
        .note{
            font-size: 12px !important;
        }