@import "/css/lessons.css";

.inside-body-tag {
    padding: 20px 0 20px 40%;
    background-image: url(img/inside-body-tag.png);
    background-position-x: 15%;
    background-size: contain;
    background-repeat: no-repeat;
}