#lesson-page .checkpoint-first-slide{
background: #F16D59 !important
}



.checkpoint, .actions, li {
font-family: 'Rajdhani', sans-serif !important;
}

.challenge-content{
font-size: 175%;
}

.challenge-content2{
font-size: 120%;
}

.challenge-tip{
	font-size: 100%;
}

.btn-primary.skip.check {
  text-align: center;
  display: inline-block;
  padding: 5px 15px;
  text-transform: uppercase;
  margin: 0 10px;
  font-size: 20px;
  background-color: #A9A9A9!important;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}