@import "/css/lessons.css";

.inside-body-tag {
  padding: 20px 0 20px 40%;
    background-image: url(img/inside-body-tag.png);
    background-position-x: 15%;
    background-size: contain;
    background-repeat: no-repeat;
}
svg.svg-inline--fa.fa-lightbulb-on.fa-w-20.fa-2x {
  display: none;
}
.border-list li{
  padding: 3px;
  border: 1px solid #f06e5a;
  margin: 1px 0;
  font-size: 12px !important;
}
.border-list li p{
  font-size: 12px !important;
}
.list-color p{
  color: #f06e5a;
  font-weight: bold;
}
.disable{
  color: gray;
}
.table.step-table{
  font-size: 14px !important;
}
.table.step-table td{
  vertical-align: middle;
  padding: 4px;
}
.table.step-table tbody tr td img{
  width: 20px !important;
}
.dark-yellow{
  background: #fcc003;
  color: white !important;
}
.egg-yellow{
  background: #fdd15d;
  color: rgb(26, 26, 26) !important;
}
.light-yellow{
  background: #fddb96;
  color: rgb(26, 26, 26) !important;
}

